<header class="container" ng-controller="HeaderController as header">

  <div class="row">
    <div class="accessibility-wrapper">
      <button type="button" id="display-contrast" class="btn btn-link" ng-click="toggleContrast()">
        <span class="glyphicon glyphicon-adjust" aria-hidden="true"></span> Alto Contraste
      </button>

      <button type="button" class="btn btn-link pull-right" ui-sref="entrar">
        <span class="glyphicon glyphicon-user"></span>
        Entrar
      </button>
    </div>
  </div>

  <div class="row">
    <app-navbar></app-navbar>
  </div>
</header>
