<div class="page--new-password">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Cadastrar nova senha</h2>
                <h5>Agora é só informar e confirmar sua nova senha.</h5>
            </div>
        </div>
    </div>
    <section role="main" class="section-gray vertical-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div ng-if="pageNewPassword.loading">
                        <h3>Aguarde...</h3>
                        <p>Estamos configurando a sua nova senha.</p>
                    </div>
                    <div ng-if="!pageNewPassword.loading">
                        <div ng-if="pageNewPassword.submitNewPasswordSuccess">
                            <div class="alert alert-success">
                                <strong>Feito!</strong> Sua senha foi configurada com sucesso.
                            </div>
                        </div>
                        <div ng-if="pageNewPassword.submitNewPasswordError">
                            <div class="alert alert-danger">
                                <strong>Erro!</strong> {{::pageNewPassword.submitNewPasswordErrorMessage}}
                            </div>
                            <p>Tente novamente ou <a ui-sref="duvidas">entre em contato</a>.</p>
                        </div>
                        <form
                        novalidate
                        name="newPasswordForm"
                        ng-submit="newPasswordForm.$valid && pageNewPassword.submitNewPassword($event, newPasswordForm)">


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="newPassword">Senha*</label>
                                        <input type="password" id="newPassword" name="newPassword" class="form-control input-lg" ng-class="{ 'has-error' : newPasswordForm.newPassword.$invalid && newPasswordForm.newPassword.$touched }" ng-minlength="6" ng-model="newPassword" required>
                                        <validation-messages field="newPasswordForm.newPassword"></validation-messages>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="newPasswordConfirmation">Confirmar senha*</label>
                                        <input type="password" id="newPasswordConfirmation" name="newPasswordConfirmation" class="form-control input-lg" ng-class="{ 'has-error' : newPasswordForm.newPasswordConfirmation.$invalid && newPasswordForm.newPasswordConfirmation.$touched }" ng-minlength="6" ng-model="newPasswordConfirmation" required>
                                        <validation-messages field="newPasswordForm.newPasswordConfirmation"></validation-messages>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12" ng-show="(newPasswordForm.newPassword.$viewValue.length > 0 && newPasswordForm.newPasswordConfirmation.$viewValue.length > 0) && (newPasswordForm.newPassword.$viewValue !== newPasswordForm.newPasswordConfirmation.$viewValue)">
                                    <div class="error-message">
                                        As senhas estão diferentes.
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="text" ng-show="newPasswordForm.newPassword.$viewValue.length > 0 && newPasswordForm.newPassword.$viewValue.length < 6">
                                        <div class="error-message">
                                            A senha deve ter 6 ou mais caracteres e conter números e letras.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6 col-sm-offset-3">
                                    <div class="form-group">
                                        <button
                                        class="btn btn-lg btn-block btn-submit"
                                        type="submit"
                                        ng-disabled="newPasswordForm.$invalid || ((newPasswordForm.newPassword.$viewValue.length > 0 && newPasswordForm.newPasswordConfirmation.$viewValue.length > 0) && (newPasswordForm.newPassword.$viewValue !== newPasswordForm.newPasswordConfirmation.$viewValue))"
                                        >Confirmar alteração de senha</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
