<div class="page--resend-confirmation">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2>Não recebeu o e-mail de confirmação?</h2>
				<h5>
					Calma, podemos te ajudar!
					<br>
					Basta informar o seu e-mail cadastrado que a gente envia um novo e-mail de confirmação.
				</h5>
			</div>
		</div>
	</div>
	<section role="main" class="section-gray vertical-padding">
		<div class="container">
			<div class="row">
				<div ng-if="pageAuth.resendConfirmationSuccess">
					<div class="col-sm-8 col-sm-offset-2">
						<div class="feedback-message">
							<show-message
							type="'success'"
							message="pageAuth.resendConfirmationSuccessTitle"
							description="pageAuth.resendConfirmationSuccessMessage"
							></show-message>
							<div class="row">
								<div class="col-sm-8 col-sm-offset-4">
									<p>
										Ir para:
										<a ui-sref="inicio" class="btn btn-default">Página inicial</a>
										ou
										<a ui-sref="entrar" class="btn btn-primary">Entrar</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div ng-if="!pageAuth.resendConfirmationSuccess">
					<br>
					<div class="col-sm-8 col-sm-offset-2">
						<div class="row" ng-if="pageAuth.resendConfirmationError">
							<div class="col-sm-12">
								<div class="alert alert-danger">
									<strong>Erro!</strong>
									O e-mail informado não possui cadastro no Dialoga Brasil.
								</div>
								<div ng-if="pageAuth.internalError">
									<p>Este erro parece ser um problema interno.<br/>Por favor, tente novamente mais tarde.</p>
									<p>Caso o problema persista, entre em contato!</p>
									<p><a ui-sref="duvidas">Ir para página de contato</a></p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<form name="confirmationForm" ng-submit="pageAuth.submitConfirmationForm($event, confirmationForm)">
									<div class="form-group">
										<label for="confirmation-login">E-mail*</label>
										<input type="email" id="confirmation-login" name="login" class="form-control input-lg" ng-class="{ 'has-error' : confirmationForm.login.$invalid && confirmationForm.login.$touched }" ng-model="pageAuth.credentials.username" required />
										<validation-messages field=" confirmationForm.login"></validation-messages>
									</div>
									<div class="form-group">
										<div
											vc-recaptcha
											theme="'light'"
											key="pageAuth.APP.recaptcha_key"
											on-create="pageAuth.setWidgetId(widgetId)"
											on-success="pageAuth.setResponse(response)"
											on-expire="pageAuth.cbExpiration()"
										></div>
									</div>
									<div class="form-group">
										<button class="btn btn-lg btn-submit" type="submit">Solicitar novo e-mail de confirmação</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<br>
				</div>
			</div>
		</div>
	</section>
</div>
