<div class="event-list">

  <section class="color-theme-common-bg">

    <div class="container">
      <div class="event-bar--trigger">
        <div class="event-bar--trigger-top">
          <div class="col-sm-6">
            <h1 class="title">
              <span class="glyphicon glyphicon-calendar icon-circle color-theme-common-fg"></span>
              Agenda <b>Dialoga Brasil</b>
            </h1>
          </div>
          <div class="col-sm-6">
            <h2 class="event-bar--trigger-toggle text-right" ng-click="eventListCtrl.toggleView()">
              <span><b>18</b> bate papos <b>agendados</b></span>
              <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-table">
    <div class="container">
      <!-- <div class="event-tab--trigger" ng-show="!eventListCtrl.isListVisible" ng-click="eventListCtrl.toggleView()">
        <div class="event-tab--header">
          <div class="event-tab--icon">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
          </div>
          <div class="event-tab--title">Bate-Papo com ministr@s</div>
        </div>
        <button class="btn btn-link event-tab--button">
          <span class="event-tab--total-scheduled">18</span>
          <span>bate-papos agendados</span>
          <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
        </button>
      </div> -->

      <div class="event-list--panel ng-hide" ng-show="eventListCtrl.isListVisible">
        <div class="event-list--table-wrapper">
          <div class="table-responsive">
            <table class="table event-list--table">
              <!-- <thead></thead> -->
              <tbody>
                <tr>
                  <td>
                    <span class="date">dd/mm/aaaa</span>
                    <span class="separator">-</span>
                    <span class="time">HH:mm</span>
                    <span class="separator">-</span>
                    <span class="description">Mais médicos, Segurança Nacional, SAMU</span>
                    <button type="button" class="btn color-theme-common-bg" ng-click="eventListCtrl.subscribe('EVENT_ID')">
                      Inscreva-se
                      <span class="sr-only">no bate-papo com (ministro) no dia (date) as (hh:mm) horas</span>
                    </button>
                    <span class="subscribers">123 inscritos</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="date">dd/mm/aaaa</span>
                    <span class="separator">-</span>
                    <span class="time">HH:mm</span>
                    <span class="separator">-</span>
                    <span class="description">Mais médicos, Segurança Nacional, SAMU</span>
                    <button type="button" class="btn color-theme-common-bg">Inscreva-se</button>
                    <span class="subscribers">123 inscritos</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="date">dd/mm/aaaa</span>
                    <span class="separator">-</span>
                    <span class="time">HH:mm</span>
                    <span class="separator">-</span>
                    <span class="description">Mais médicos, Segurança Nacional, SAMU</span>
                    <button type="button" class="btn color-theme-common-bg">Inscreva-se</button>
                    <span class="subscribers">123 inscritos</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="date">dd/mm/aaaa</span>
                    <span class="separator">-</span>
                    <span class="time">HH:mm</span>
                    <span class="separator">-</span>
                    <span class="description">Mais médicos, Segurança Nacional, SAMU</span>
                    <button type="button" class="btn color-theme-common-bg">Inscreva-se</button>
                    <span class="subscribers">123 inscritos</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="date">dd/mm/aaaa</span>
                    <span class="separator">-</span>
                    <span class="time">HH:mm</span>
                    <span class="separator">-</span>
                    <span class="description">Mais médicos, Segurança Nacional, SAMU</span>
                    <button type="button" class="btn color-theme-common-bg">Inscreva-se</button>
                    <span class="subscribers">123 inscritos</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="date">dd/mm/aaaa</span>
                    <span class="separator">-</span>
                    <span class="time">HH:mm</span>
                    <span class="separator">-</span>
                    <span class="description">Mais médicos, Segurança Nacional, SAMU</span>
                    <button type="button" class="btn color-theme-common-bg">Inscreva-se</button>
                    <span class="subscribers">123 inscritos</span>
                  </td>
                </tr>
              </tbody>
              <!-- <tfooter></tfooter> -->
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
