.page--erro {
    background-color: #f9f9f9;
    padding: 20px 0;

    .show-message {
        h3 {
            font-weight: bold;
        }

        .glyphicon {
            font-size: 40px;
        }
    }

    .btn-link {
        padding: 0;
    }
}
