.page--respostas {
    .proposal-box--middle {
        background-color: #fff;
    }

    .topics-select--wrapper {
        margin: 20px 0;
    }

    .img-mask--background{
        text-align:left;
    }
    
    @each $category, $color in $categories {
		.#{$category} .img-mask--background {
			background: linear-gradient(to right, rgba($color, 1) 38%, rgba($color,0.5) 100%);
		}
	}
	
}
