<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div ncy-breadcrumb></div>
    </div>
  </div>
</div>

<div class="page--respostas" role="main">
  <section class="section-info" ng-if="pageRespostas.loading || pageRespostas.error">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div ng-if="pageRespostas.loading && !pageRespostas.error">
            <div class="alert alert-info" role="alert">Carregando conteúdo...</div>
          </div>

          <div ng-if="pageRespostas.error">
            <div class="alert alert-danger" role="alert">
              Erro ao carregar o conteúdo principal.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section--header" ng-if="pageRespostas.filtredProposals || pageRespostas.themes">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Respostas</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="section--articles section-gray section-space-up" ng-if="pageRespostas.filtredProposals || pageRespostas.themes">
    <div class="container">
      <div id="lista-de-respostas" class="row">
        <div class="col-sm-4 col-md-3">
          <div class="row visible-xs">
            <div class="col-xs-12">
              <div class="input-group input-group-lg input-group-search">
                <label for="articleQueryFilter" class="control-label sr-only">Buscar respostas:</label>
                <input id="articleQueryFilter" type="search" class="form-control input-search" ng-model="pageRespostas.query" placeholder="Buscar respostas" aria-label="Buscar respostas">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="pageRespostas.submitSearch()">
                    <span class="icon-circle icon-small color-theme-common-bg">
                      <span class="glyphicon glyphicon-search"></span>
                </span>
                <span class="sr-only">Buscar</span>
                </button>
                </span>
              </div>
              <br/>
            </div>
          </div>
          <div ng-if="pageRespostas.themes">
            <category-list categories="pageRespostas.themes" selected-category="pageRespostas.selectedTheme"></category-list>
          </div>
          <div ng-if="!pageRespostas.themes && pageRespostas.loadingThemes">
            <div class="alert alert-info" role="alert">
              Carregando temas.
            </div>
          </div>
          <div ng-if="!pageRespostas.themes && pageRespostas.themesError">
            <div class="alert alert-danger" role="alert">
              Não foi possível carregar a lista de temas neste momento.
            </div>
          </div>
        </div>
        <div class="col-sm-8 col-md-9">
          <div class="row hidden-xs" ng-if="pageRespostas.filtredProposals">
            <div class="col-xs-12">
              <div class="input-group input-group-lg input-group-search">
                <label for="articleQueryFilter" class="control-label sr-only">Buscar respostas:</label>
                <input id="articleQueryFilter" type="search" class="form-control input-search" ng-model="pageRespostas.query" placeholder="Buscar respostas" aria-label="Buscar respostas">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="pageRespostas.submitSearch()">
                    <span class="icon-circle icon-small color-theme-common-bg">
                      <span class="glyphicon glyphicon-search"></span>
                </span>
                <span class="sr-only">Buscar</span>
                </button>
                </span>
              </div>
            </div>
          </div>

          <div id="search-result" class="row" ng-if="pageRespostas.filtredProposals">
            <div class="col-sm-12">
              <header class="header">
                <h2>Total de Respostas: "<b>{{pageRespostas.total_proposals}} respostas</b>"</h2>
              </header>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12" ng-if="!pageRespostas.loadingProposals && pageRespostas.filtredProposals && pageRespostas.total_proposals">
              <proposal-grid proposals="pageRespostas.filtredProposals"></proposal-grid>
              <app-paginator
                page="pageRespostas.page"
                per-page="pageRespostas.per_page"
                total="pageRespostas.total_proposals"
                change-page="pageRespostas.changePage(pageIndex)"
              ></app-paginator>
            </div>
            <div ng-if="pageRespostas.loadingProposals">
              <div class="alert alert-info" role="alert">
                Carregando respostas.
              </div>
            </div>
            <div ng-if="!pageRespostas.loadingProposals && pageRespostas.proposalsError">
              <div class="alert alert-danger" role="alert">
                Não foi possível carregar a lista de respostas neste momento.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
