<div class="proposal-stats">
  <ul class="list-inline">
    <li class="proposal-stats-views">
      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
      <span>{{proposal.hits}}</span>
    </li>
    <li class="proposal-stats-up">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      <span>{{proposal.votes_for}}</span>
    </li>
    <li class="proposal-stats-down">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      <span>{{proposal.votes_against}}</span>
    </li>
  </ul>
</div>
