<div class="app-navbar">
  <nav id="navigation" class="header-navbar navbar navbar-static-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Alternar menu de navegação</span>
        <span class="icon-bar" aria-hidden="true"></span>
        <span class="icon-bar" aria-hidden="true"></span>
        <span class="icon-bar" aria-hidden="true"></span>
      </button>
      <a class="navbar-brand" ui-sref="inicio">
        <img src="/assets/images/logo.png" alt="Dialoga Brasil | O país fica melhor quando você participa" />
        <!-- <span class="glyphicon glyphicon-home"></span> Início -->
      </a>
    </div>

    <div id="navbar-collapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active"><a ui-sref="sobre">Sobre</a></li>
        <li ui-sref-active="active"><a ui-sref="programas">Programas</a></li>
        <li ui-sref-active="active"><a ui-sref="propostas">Propostas</a></li>
        <li ui-sref-active="active"><a ui-sref="ranking">Ranking</a></li>
        <li ui-sref-active="active"><a ui-sref="duvidas">Dúvidas</a></li>
        <li role="separator" class="divider hidden-xs hidden-sm"><span>|</span></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Compartilhar <span aria-hidden="true" class="icon icon-social-share-small"></span></a>
          <social-share class="dropdown-menu dropdown-menu-right"></social-share>
          <!-- <ul class="dropdown-menu dropdown-menu-right dropdown-menu-social">
            <li>
              <a socialshare
                socialshare-provider="facebook"
                socialshare-url="http://dialoga.gov.br"
                socialshare-text="Conheça o Dialoga Brasil. Dialoga Brasil | O País fica melhor quando VOCÊ PARTICIPA."
                title="Compartilhar no Facebook">
                <span class="icon-circle icon-small icon-circle-social-facebook"><span class="icon icon-social-facebook"></span></span>
                <span class="sr-only">Compartilhar no Facebook</span>
              </a>
            </li>
            <li>
              <a socialshare
                socialshare-provider="twitter"
                socialshare-url="http://dialoga.gov.br"
                socialshare-text="Conheça o Dialoga Brasil. Dialoga Brasil | O País fica melhor quando VOCÊ PARTICIPA."
                socialshare-hastags="dialogabrasil"
                title="Compartilhar no Twitter">
                <span class="icon-circle icon-small icon-circle-social-twitter"><span class="icon icon-social-twitter"></span></span>
                <span class="sr-only">Compartilhar no Twitter</span>
              </a>
            </li>
            <li>
              <a socialshare
                socialshare-provider="gplus"
                socialshare-url="http://dialoga.gov.br"
                socialshare-text="Conheça o Dialoga Brasil. Dialoga Brasil | O País fica melhor quando VOCÊ PARTICIPA."
                title="Compartilhar no Google Plus">
                <span class="icon-circle icon-small icon-circle-social-googleplus"><span class="icon icon-social-googleplus"></span></span>
                <span class="sr-only">Compartilhar no Google Plus</span>
              </a>
            </li>
            <li>
              <a href="mailto:contato@dialoga.gov.br?subject=Conheça o Dialoga Brasil" title="Enviar por email">
                <span class="icon-circle icon-small icon-circle-social-whatsapp"><span class="icon icon-social-whatsapp"></span></span>
                <span class="sr-only">Enviar por email</span>
              </a>
            </li>
          </ul> -->
        </li>
      </ul>
    </div>
  </nav>
</div>
