.app-navbar {

    border-bottom: 2px solid #f1f1f1;
    margin-bottom: 40px;

    .navbar {
        margin-bottom: 0;
        border: none;
    }

    .navbar-brand {
        height: auto;
        padding-bottom: 0;
        padding-left: 0;
    }

    .navbar-toggle {
        margin-top: 20px;

        .icon-bar {
            height: 3px;
        }
    }

    .navbar-nav .divider span {
        padding: 0 0 10px 0;
        margin: 53px 10px 0 10px;
        display: block;

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    .navbar-nav > li {

        & > a {
            padding: 0 0 10px 0;
            margin: 55px 10px 0 10px;
            text-transform: uppercase;
            color: #616161;
            font-weight: bold;

            &:hover,
            &:focus {
                background: none;
            }

            .contraste & {
                color: #fff;
            }
        }

        &.active > a {
            border-bottom: 3px solid #77BB34;

            @media screen and (max-width: 768px) {
                border: none;
                background-color: #eee;
                padding: 10px 0 10px 0px;
            }
        }

        .dropdown-menu {
            min-width: 190px;

            li {
                float: left;
                padding: 0;
                margin: 0;
                width: 45px;

                & > a {
                    padding: 0;
                }

                &:first-child {
                    margin-left: 5px;
                }
            }
        }
    }

    .navbar-toggle .icon-bar {
        background-color: #333;
    }

    .contraste & {
        .nav > li > a:hover,
        .nav > li > a:focus {
            color: #fff;
        }

        .active a {
            border-bottom-color: #fff;
        }
    }
}
