<ul class="social-share list-inline">
  <li>
    <a href="#" role="button"
      socialshare
      socialshare-provider="facebook"
      socialshare-url="http://dialoga.gov.br"
      socialshare-text="Conheça o Dialoga Brasil. Dialoga Brasil | O País fica melhor quando VOCÊ PARTICIPA."
      title="Compartilhar no Facebook">
      <span aria-hidden="true" class="icon-circle icon-small icon-circle-social-facebook"><span class="icon icon-social-facebook"></span></span>
      <span class="sr-only">Compartilhar no Facebook</span>
    </a>
  </li>
  <li>
    <a href="#" role="button"
      socialshare
      socialshare-provider="twitter"
      socialshare-url="http://dialoga.gov.br"
      socialshare-text="Conheça o Dialoga Brasil. Dialoga Brasil | O País fica melhor quando VOCÊ PARTICIPA."
      socialshare-hastags="dialogabrasil"
      title="Compartilhar no Twitter">
      <span aria-hidden="true" class="icon-circle icon-small icon-circle-social-twitter"><span class="icon icon-social-twitter"></span></span>
      <span class="sr-only">Compartilhar no Twitter</span>
    </a>
  </li>
  <li>
    <a href="#" role="button"
      socialshare
      socialshare-provider="google+"
      socialshare-url="http://dialoga.gov.br"
      socialshare-text="Conheça o Dialoga Brasil. Dialoga Brasil | O País fica melhor quando VOCÊ PARTICIPA."
      title="Compartilhar no Google Plus">
      <span aria-hidden="true" class="icon-circle icon-small icon-circle-social-googleplus"><span class="icon icon-social-googleplus"></span></span>
      <span class="sr-only">Compartilhar no Google Plus</span>
    </a>
  </li>
  <li>
    <a href="whatsapp://send?text=Aqui suas ideias viram propostas e você ajuda a melhorar as ações do governo http://dialoga.gov.br/" title="Compartilhar no WhatsApp">
      <span aria-hidden="true" class="icon-circle icon-small icon-circle-social-whatsapp"><span class="icon icon-social-whatsapp"></span></span>
      <span class="sr-only">Enviar por email</span>
    </a>
  </li>
</ul>
<!-- <div class="social-share">
  <ul>
    <li>
      <a social-facebook custom-url="http://dialoga.gov.br">
        <span class="icon icon-social-facebook"></span>
        <span class="sr-only">Compartilhar no Facebook</span>
      </a>
    </li>
    <li>
      <a social-twitter custom-url="http://dialoga.gov.br" status="This status is #{{ ctrl.coolWord }}">
        <span class="icon icon-social-twitter"></span>
        <span class="sr-only">Compartilhar no Twitter</span>
      </a>
    </li>
    <li>
      <a social-gplus custom-url="http://dialoga.gov.br">
        <span class="icon icon-social-google-plus"></span>
        <span class="sr-only">Compartilhar no Google Plus</span>
      </a>
    </li>
    <li>
      <a href="whatsapp://send?text=Apoio ao audiovisual brasileiro: ampliação da produção, da difusão e do acesso http%3A%2F%2Fdialoga.gov.br%2F%23%2Fprogramas%2F121492%2Fsobre-o-programa" target="_blank">
        <span class="icon icon-social-whatsapp"></span>
        <span class="sr-only">Compartilhar no WhatsApp</span>
      </a>
    </li>
  </ul>
</div>
 -->
<!-- <ul>
  <li><a href="http://dialoga.gov.br/#/programas/121492/sobre-o-programa" class="fb-share icon icon-facebook" data-caption="Brasil de Todas as Telas" data-description="Apoio ao audiovisual brasileiro: ampliação da produção, da difusão e do acesso"><span class="fa fa-facebook"></span><span class="sr-only">Compartilhar no Facebook</span></a></li>
  <li><a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fdialoga.gov.br%2F%23%2Fprogramas%2F121492%2Fsobre-o-programa&amp;text=Apoio ao audiovisual brasileiro: ampliação da produção, da difusão e do acesso" target="_blank" class="tw-share icon icon-twitter popup"><span class="fa fa-twitter"></span><span class="sr-only">Compartilhar no Twitter</span></a></li>
  <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fdialoga.gov.br%2F%23%2Fprogramas%2F121492%2Fsobre-o-programa" target="_blank" class="gp-share icon icon-gplus popup"><span class="fa fa-google-plus"></span><span class="sr-only">Compartilhar no Google Plus</span></a></li>
  <li><a href="whatsapp://send?text=Apoio ao audiovisual brasileiro: ampliação da produção, da difusão e do acesso http%3A%2F%2Fdialoga.gov.br%2F%23%2Fprogramas%2F121492%2Fsobre-o-programa" target="_blank" class="ws-share icon icon-whatsapp"><span class="fa fa-whatsapp"></span><span class="sr-only">Compartilhar no WhatsApp</span></a></li>
</ul> -->
