// Variables
$scale: 1.1;
$time: .3s;

// sandbox
.program-box {
    cursor: pointer;
    .category-name {
        font-size: 14px;
        font-weight: bold;
        line-height: 30px;
        display: block;
        height: 30px;
        margin-bottom: 0;
        color: #ffffff;
        background-color: #000000;
    }
    .image-wrapper {
        position: relative;
        // width: 100%;
        // width: 370px;
        // height: 170px;

        overflow: hidden;
        text-align: center;
    }
    .img-responsive {
        -webkit-transition: all $time ease-in-out;
        -moz-transition: all $time ease-in-out;
        -o-transition: all $time ease-in-out;
        transition: all $time ease-in-out;
    }
    &:hover .img-responsive {
        -webkit-transform: scale($scale); /* prefixo para browsers webkit */
        -moz-transform: scale($scale); /* prefixo para browsers gecko */
        -o-transform: scale($scale); /* prefixo para opera */
        transform: scale($scale);
    }
}
