<div ng-if="vm.program" class="{{vm.category.slug}}">
  <article ng-if="vm.displayType == 'box'" class="program-box" ng-click="vm.showPreview()">
    <div>
      <h2 class="program-box--category">{{vm.category.name}}</h2>
      <div class="program-box--image-wrapper">
        <!-- <img class="program-box--image img-responsive" ng-src="{{vm.banner.src}}" alt="{{vm.banner.alt}}" /> -->
        <div class="program-box--image" ng-style="{'background-image':'url( {{vm.banner.src}} )'}"></div>
      </div>
      <div class="program-box--title">
        <h1>{{::vm.program.title}}</h1>
      </div>
      <div class="program-box--abstract" ng-bind-html="vm.program.abstract"></div>
      <div class="button--themed">
        <button class="btn btn-block">
          Participe
        </button>
      </div>
    </div>
  </article>

  <article ng-if="vm.displayType == 'preview'" class="program-preview">
    <header class="program-banner">
      <img class="program-banner--image" ng-src="{{vm.banner.src}}" alt="{{vm.banner.alt}}">
      <div class="program-banner--strip">
        <h1 class="program-banner--title">{{::vm.program.title}}</h1>
        <p class="program-banner--abstract" ng-bind-html="vm.program.abstract"></p>
      </div>
    </header>

    <section class="call-to-action--section">
      <div class="row show-content-row">
        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
          <div class="button--themed">
            <button class="btn btn-block" ng-click="vm.showContent()">Conheça o programa</button>
          </div>
        </div>
      </div>
      <div class="row proposal-row">
        <div class="row-height">
          <div class="col-md-6 col-height">
            <div class="inside-full-height">
              <div class="proposal-box make-proposal">
                <h2 class="proposal-box--title">Faça uma proposta</h2>
                <p class="proposal-box--text">Qual a sua sugestão para melhorar este programa?</p>
                <div class="row">
                  <div class="col-xs-8 col-xs-offset-2">
                    <div class="button--themed">
                      <button class="btn btn-block" ng-click="vm.goSendProposal()">
                        Envie sua proposta
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-height">
            <div class="inside-full-height">
              <div class="proposal-box support-proposal">
                <h2 class="proposal-box--title">Apoie outras propostas</h2>
                <p class="proposal-box--text">
                  Lorem qual a sua sugestão para melhorar este programa
                  Lorem qual a sua sugestão para melhorar este programa
                  Lorem qual a sua sugestão para melhorar este programa
                  Lorem qual a sua sugestão para melhorar este programa
                  Lorem qual a sua sugestão para melhorar este programa
                  Lorem qual a sua sugestão para melhorar este programa?
                </p>
                <div class="col-lg-12">
                  <div class="col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="button--themed vote-buttons">
                      <button class="btn btn-circle vote-buttons-up" ng-click="vm.vote(1)">
                        <span class="sr-only">Eu <b>apoio</b> esta proposta.</span>
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                      </button>

                      <button class="btn btn-circle vote-buttons-down" ng-click="vm.vote(-1)">
                        <span class="sr-only">Eu <b>não apoio</b> esta proposta.</span>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      </button>

                      <button class="btn btn-block vote-buttons-skip" ng-click="vm.vote(0)">
                        <span class="sr-only">Pular esta proposta.</span>
                        <span class="icon" aria-hidden="true"></span>
                        Pular
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="text-center">
                      <button class="btn btn-link" ng-click="vm.showResults()">Resultados</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-xs-12">
                    <div class="text-center">
                      <span>Compartilhe esta proposta</span>
                      <social-share></social-share>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="talk-proposal row proposal-row">
        <div class="row-height">
          <div class="col-md-12 col-height">
            <div class="">
              <h2>Bate-papo virtual com ministr@s</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</div>
