<div ng-if="vm.program" class="{{vm.category.slug}}">
  <article ng-if="vm.displayType == 'box'" class="program-box" ng-click="vm.showPreview()">
    <div>
      <h2 class="program-box--category">{{vm.category.name}}</h2>
      <div class="program-box--image-wrapper">
        <!-- <img class="program-box--image img-responsive" ng-src="{{vm.banner.src}}" alt="{{vm.banner.alt}}" /> -->
        <div class="program-box--image" ng-style="{'background-image':'url( {{vm.banner.src}} )'}"></div>
      </div>
      <div class="program-box--title">
        <h1>{{::vm.program.title}}</h1>
      </div>
      <div class="program-box--abstract" ng-bind-html="vm.program.abstract"></div>
      <div class="button--themed">
        <button class="btn btn-block">
          Participe
        </button>
      </div>
    </div>
  </article>

  <article ng-if="vm.displayType == 'preview'" class="program-preview">
    <header class="program-banner">
      <img class="program-banner--image" ng-src="{{vm.banner.src}}" alt="{{vm.banner.alt}}">
      <div class="program-banner--strip">
        <h1 class="program-banner--title">{{::vm.program.title}}</h1>
        <p class="program-banner--abstract" ng-bind-html="vm.program.abstract"></p>
      </div>
    </header>

    <section class="call-to-action--section">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
          <div class="button--themed">
            <button class="btn btn-block" ng-click="vm.showContent()">Conheça o programa</button>
          </div>
        </div>
      </div>
    </section>
  </article>
</div>
