<div ng-if="vm.program">
  <article class="program-box" ng-if="vm.isDisplayBox()" ng-click="vm.showContent()">
    <div class="{{::vm.getCategorySlug()}}">
      <h2 class="program-box--category">{{::vm.getCategoryName()}}</h2>
      <div class="program-box--image-wrapper">
        <!-- <img class="program-box--image img-responsive" ng-src="{{::vm.getImageUrl()}}" alt="{{::vm.getImageAlt()}}" /> -->
        <div class="program-box--image" ng-style="{'background-image':'url( {{::vm.getImageUrl()}} )'}"></div>
      </div>
      <div class="program-box--title">
        <h1>{{::vm.program.title}}</h1>
      </div>
      <div class="program-box--abstract" ng-bind-html="vm.program.abstract"></div>
      <div class="program-box--button">
        <button class="btn btn-block">
          Participe
        </button>
      </div>
    </div>
  </article>

  <article ng-if="vm.isDisplayPreview()" class="program-preview">
    <header class="program-banner">
      <img class="program-banner--image" ng-src="{{vm.getImageUrl()}}" alt="{{::vm.getImageAlt()}}">
      <div class="program-banner--strip">
        <h1 class="program-banner--title">{{::vm.program.title}}</h1>
        <p class="program-banner--abstract" ng-bind-html="vm.program.abstract"></p>
      </div>
    </header>
  </article>
</div>
