<div class="container" role="main">
	<span class="hide">{{::pageArticle.page}}</span>

  <div ng-if="pageArticle.loading">
    <div class="alert alert-info">
      Carregando conteúdo...
    </div>
  </div>

  <div ng-if="pageArticle.error">
    <div class="alert alert-info">
      Erro ao carregar conteúdo.
    </div>
  </div>

	<div ng-if="pageArticle.article">
		<article>
			<header>
				<h1>{{::pageArticle.pageArticle.title}}</h1>
			</header>
			<section ng-bind-html="pageArticle.pageArticle.body"></section>
		</article>
	</div>
</div>
