<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div ncy-breadcrumb></div>
    </div>
  </div>
</div>

<div class="container" role="main">
  <div class="row">
    <div ng-if="pageArticle.loading">
      <div class="alert alert-info">
        Carregando conteúdo...
      </div>
    </div>

    <div ng-if="pageArticle.error">
      <div class="alert alert-info">
        Erro ao carregar conteúdo.
      </div>
    </div>
  </div>
</div>

<div ng-if="pageArticle.article">
	<article>
		<header class="container">
      <div class="row">
        <h1>{{::pageArticle.article.title}}</h1>
      </div>
		</header>
		<div ng-bind-html="pageArticle.article.body"></div>
	</article>
</div>
