<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div ncy-breadcrumb></div>
    </div>
  </div>
</div>

<div class="container" role="main">
  <div class="row">
    <div ng-if="pageArticle.loading">
      <div class="alert alert-info">
        Carregando conteúdo...
      </div>
    </div>

    <div ng-if="pageArticle.error">
      <div class="alert alert-info">
        Erro ao carregar conteúdo.
      </div>
    </div>
  </div>
</div>

<div class="container" ng-if="pageArticle.article">
  <div class="row">
    <div class="col-sm-12">
     <h1>{{::pageArticle.article.title}}</h1>
   </div>
 </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div ng-bind-html="pageArticle.article.body"></div>
    </div>
  </div>
</div>
