<div class="container">
	<div class="row">
		<div class="col-sm-11 col-sm-offset-1">
			<h2>Mapa do Site</h2>
			<p>Uma visão geral do conteúdo disponível no site.</p>
		</div>
	</div>
</div>

<div class="page--mapa">
	<div class="container">
		<div class="row">
			<div class="col-sm-11 col-sm-offset-1">

        <ul class="list-sitemap">
          <li class="list-sitemap--item level-1">
            <a ui-sref="sobre" title="Conheça mais sobre o Dialoga Brasil">Sobre</a>
          </li>
          <li class="list-sitemap--item level-1">
            <a ui-sref="programas" title="Acesse a lista de programas">Programas</a>
            <ul ng-if="sitemap.programsPerThemes">
            	<li ng-if="!sitemap.programsPerThemes">Carregando lista de programas...</li>
            	<li ng-if="sitemap.programsPerThemes" class="list-sitemap--item level-2" ng-repeat="(slug, theme) in sitemap.programsPerThemes">
            		<a ui-sref="programas({tema: slug})" ui-sref-opts="{location: true}" title="Acesse a lista de programas do {{theme.name}}">{{theme.name}}</a>
            		<ul>
            			<li class="list-sitemap--item level-3" ng-repeat="program in theme.programs">
            				<a ui-sref="programa-conteudo({slug: program.slug})" ui-sref-opts="{location: true}" title="Acesse o programa {{::program.title}}">{{::program.title}}</a>
            			</li>
            		</ul>
            	</li>
            </ul>
          </li>
          <li class="list-sitemap--item level-1">
            <a ui-sref="propostas" title="Acesse a lista de propostas">Propostas</a>
          </li>
          <li class="list-sitemap--item level-1">
            <a ui-sref="ranking" title="Acesse o ranking de propostas">Ranking</a>
          </li>
          <li class="list-sitemap--item level-1">
            <a ui-sref="duvidas" title="Acesse para ler as principais dúvidas ou enviar a sua.">Dúvidas e sugestões</a>
          </li>
          <li class="list-sitemap--item level-1">
            <a ui-sref="entrar" title="Acesse para ler as principais dúvidas ou enviar a sua.">Entrar</a>
          </li>
          <li class="list-sitemap--item level-1">
            <span>Dialoga nas redes</span>
            <ul>
						  <li class="list-sitemap--item level-2">
						    <a href="#" role="button"
						      socialshare
						      socialshare-provider="facebook"
						      socialshare-url="http://dialoga.gov.br"
						      socialshare-text="Conheça o Dialoga Brasil. Dialoga Brasil | O País fica melhor quando VOCÊ PARTICIPA."
						      title="Compartilhar no Facebook">
						      <span>Facebook</span>
						    </a>
						  </li>
						  <li class="list-sitemap--item level-2">
						    <a href="#" role="button"
						      socialshare
						      socialshare-provider="twitter"
						      socialshare-url="http://dialoga.gov.br"
						      socialshare-text="Conheça o Dialoga Brasil. Dialoga Brasil | O País fica melhor quando VOCÊ PARTICIPA."
						      socialshare-hastags="dialogabrasil"
						      title="Compartilhar no Twitter">
						      <span>Twitter</span>
						    </a>
						  </li>
						  <li class="list-sitemap--item level-2">
						    <a href="#" role="button"
						      socialshare
						      socialshare-provider="google+"
						      socialshare-url="http://dialoga.gov.br"
						      socialshare-text="Conheça o Dialoga Brasil. Dialoga Brasil | O País fica melhor quando VOCÊ PARTICIPA."
						      title="Compartilhar no Google Plus">
						      <span>Google Plus</span>
						    </a>
						  </li>
						  <li class="list-sitemap--item level-2">
						    <a href="whatsapp://send?text=Aqui suas ideias viram propostas e você ajuda a melhorar as ações do governo http://dialoga.gov.br/" title="Compartilhar no WhatsApp">
						      <span>WhatsApp</span>
						    </a>
						  </li>
						</ul>
          </li>
          <li class="list-sitemap--item level-1">
            <span>Compartilhar</span>
            <ul>
						  <li class="list-sitemap--item level-2">
						    <a href="#" role="button"
						      socialshare
						      socialshare-provider="facebook"
						      socialshare-url="http://dialoga.gov.br"
						      socialshare-text="Conheça o Dialoga Brasil. Dialoga Brasil | O País fica melhor quando VOCÊ PARTICIPA."
						      title="Compartilhar no Facebook">
						      <span>Facebook</span>
						    </a>
						  </li>
						  <li class="list-sitemap--item level-2">
						    <a href="#" role="button"
						      socialshare
						      socialshare-provider="twitter"
						      socialshare-url="http://dialoga.gov.br"
						      socialshare-text="Conheça o Dialoga Brasil. Dialoga Brasil | O País fica melhor quando VOCÊ PARTICIPA."
						      socialshare-hastags="dialogabrasil"
						      title="Compartilhar no Twitter">
						      <span>Twitter</span>
						    </a>
						  </li>
						  <li class="list-sitemap--item level-2">
						    <a href="#" role="button"
						      socialshare
						      socialshare-provider="google+"
						      socialshare-url="http://dialoga.gov.br"
						      socialshare-text="Conheça o Dialoga Brasil. Dialoga Brasil | O País fica melhor quando VOCÊ PARTICIPA."
						      title="Compartilhar no Google Plus">
						      <span>Google Plus</span>
						    </a>
						  </li>
						  <li class="list-sitemap--item level-2">
						    <a href="whatsapp://send?text=Aqui suas ideias viram propostas e você ajuda a melhorar as ações do governo http://dialoga.gov.br/" title="Compartilhar no WhatsApp">
						      <span>WhatsApp</span>
						    </a>
						  </li>
						</ul>
          </li>
          <li class="list-sitemap--item level-1">
            <a ui-sref="termos-de-uso" title="Acesse para ler os termos de uso do Dialoga Brasil">Termos de uso</a>
          </li>
        </ul>
			</div>
		</div>
		<button type="button" class="btn btn-link" ui-sref="inicio">Retornar à página inicial</button>
