.page--mapa {
    background-color: #f9f9f9;

    .font-mapa {
        color: $defaultblue;
        font-weight: 600;
    }

    .margin-mapa {
        margin-left: 0px;
        margin-right: 0px;
    }

}
