.page--duvidas {

    .num-duvida {
      color: #FFF;
      background-color: $defaultblue;
      display: inline-block;
      text-align: center;

      width: 45px;
      height: 45px;

      padding: 10px 0 0 0;
      margin: 0 20px 0 15px;

      border-radius: 100%;

      font-size: 18px;
  }
  
  .panel-group {
    margin-top: 20px;
  }

  .panel-default .panel-heading {
      background-color: #fff;
      border-color: #ddd;
      font-weight: bold;

      &.active {
        background-color: $defaultblue;
        color: #fff;
      }
  }

  .panel-title {
    .glyphicon {
        padding-top: 15px;
    }
  }

  .question-item {
    border-bottom: 1px solid #ddd;
  }

  .mensagem-text-area {
      width: 100%;
      height: 200px;
      resize: none;
  }

  .dark-input {
    background-color: #DADADA;
  }

  .light-input {
    background-color: #F1F1F1;
  }

}
