<div class="page--duvidas" role="main">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2>Dúvidas frequentes</h2>
				<p>Talvez a sua dúvida já tenha uma resposta. Caso contrário, você pode enviar sua pergunta pelo campo abaixo que em breve responderemos.</p>
			</div>
		</div>
	</div>

	<section class="section-gray">
		<div class="container">
			<div class="row">
				<div class="panel-group" id="accordion-duvidas" role="tablist" aria-multiselectable="false">
					<div class="panel panel-default">
						<div ng-if="pageDuvidas.loadingQuestions">
							<div class="alert alert-info" role="alert">Carregando as dúvidas frequentes.</div>
						</div>
						<div ng-if="pageDuvidas.loadingQuestionsError">
							<div class="alert alert-danger" role="alert"><b>Erro!</b> Não foi possível carregar as dúvidas frequêntes.</div>
						</div>
						<div ng-if="!pageDuvidas.loadingQuestions && pageDuvidas.questions">
							<div class="question-item" ng-repeat="question in pageDuvidas.questions">
								<div id="duvida-{{($index + 1)}}" class="panel-heading" role="tab">
									<div class="panel-title" role="button" data-target="#collapse-{{($index + 1)}}" aria-expanded="($index === 0) ? 'true' : 'false'" aria-controls="collapse-{{($index + 1)}}" data-toggle="collapse" data-parent="#accordion-duvidas">
										<span class="num-duvida">{{($index + 1)}}</span>
										<span class="panel-title">{{question.title}}</span>
										<span class="glyphicon glyphicon-chevron-down icon-white pull-right" aria-hidden="true"></span>
									</div>
								</div>
								<div id="collapse-{{($index + 1)}}" class="panel-collapse collapse" ng-class="{ 'in': ($index === 0) }" role="tabpanel" aria-expanded="($index === 0) ? 'true' : 'false'" aria-labelledby="duvida-{{($index + 1)}}">
									<div class="panel-body" ng-bind-html="question.body"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section>
			<div class="container">
				<div class="row">
					<h2>Tem outras dúvidas ou sugestões?</h2>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<form role="form" name="contactForm" ng-submit="pageDuvidas.submitContactForm($event, contactForm)">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="inputSubject">Assunto*</label>
										<select id="inputSubject" name="inputSubject" class="form-control input-lg dark-input" ng-model="data.inputSubject" required>
											<option value="">-- Selecione um Assunto --</option>
											<option value="Dúvidas">Dúvidas</option>
											<option value="Sugestões">Sugestões</option>
											<option value="Outro">Outro</option>
										</select>
										<validation-messages field="contactForm.inputSubject"></validation-messages>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="inputName">Nome*</label>
										<input type="text" id="inputName" name="inputName" class="form-control input-lg light-input" ng-class="{ 'has-error' : contactForm.inputName.$invalid && contactForm.inputName.$touched }" ng-model="inputName" ng-minlength="" ng-maxlength="" required>
										<validation-messages field="contactForm.inputName"></validation-messages>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="inputEmail">E-mail*</label>
										<input type="email" id="inputEmail" name="inputEmail" class="form-control input-lg light-input" ng-class="{ 'has-error' : contactForm.inputEmail.$invalid && contactForm.inputEmail.$touched }" ng-model="inputEmail" ng-minlength="" ng-maxlength="" required>
										<validation-messages field="contactForm.inputEmail"></validation-messages>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="inputMessage">Mensagem*</label>
								<textarea id="inputMessage" name="inputMessage" class="mensagem-text-area form-control light-input" ng-class="{ 'has-error' : contactForm.inputMessage.$invalid && contactForm.inputMessage.$touched }" ng-model="inputMessage" required ></textarea>
								<validation-messages field="contactForm.inputMessage"></validation-messages>
							</div>

							<span class="pull-left">*Dados obrigatórios</span>
							<div class="row">
								<div class="col-sm-4 form-group pull-right">

									<div class="form-group">
				                        <div
				                          vc-recaptcha
				                          theme="'light'"
				                          key="pageDuvidas.APP.recaptcha_key"
				                          on-create="pageDuvidas.setWidgetId(widgetId)"
				                          on-success="pageDuvidas.setResponse(response)"
				                          on-expire="pageDuvidas.cbExpiration()"
				                        ></div>
									</div>
									
									<div class="row" ng-show="pageDuvidas.sendingContactForm">
										<div class="col-sm-12">
											<div class="alert alert-info" role="alert">Enviando formulário...</div>
										</div>
									</div>
									<div class="row" ng-if="pageDuvidas.successMessage">
										<div class="col-sm-12">
											<div class="alert alert-success" role="alert">{{pageDuvidas.successMessage}}</div>
										</div>
									</div>
									<div class="row" ng-if="pageDuvidas.errorMessage">
										<div class="col-sm-12">
											<div class="alert alert-danger" role="alert">{{pageDuvidas.errorMessage}}</div>
										</div>
									</div>
									<button class="btn btn-lg btn-block btn-submit" type="submit" ng-class=" {'disabled' : (contactForm.$invalid && !contactForm.$touched) }">Enviar Mensagem</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
