.page--inicio {

    .section-video {
      padding: 20px 0;
      // background-color: #919191;
    }

    .section--articles {

      // .header {
      //     position: relative;

          // button {
          //     position: absolute;
          //     right: 0;
          //     top: 2px;
          // }
      // }

      .form-inline {
          input,
          select {
              width: 100%;
          }
      }
    }

    .input-group-btn {
        background-color: #fff;
    }

    .featured-event--box {
        display: block;
        position: relative;
        background-color: #545454;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;

        .box-top {
            text-transform: uppercase;

            .box-title {
                font-size: 28px;
            }

            b {
                color: #FFB91C;
            }
        }

        .box-middle {
            margin: 0;
            padding: 0;

            .video {
                width: 100%;
                min-height: 125px;
                background-size: cover;
                background-position: center;
            }
        }

        .box-bottom {
            position: relative;
            padding: 10px 20px;

            .date {
                font-weight: bold;
                text-transform: uppercase;
            }

            .live {
                position: absolute;
                top: 10px;
                right: 10px;
                width: 80px;
                text-align: center;
                font-weight: bold;

                color: #545454;
                background-color: #FFB91C;

                border-radius: 20px;
            }

            .description { padding: 10px 0;}
        }

        @media screen and (min-width: $screen-lg) {

        }

        @media screen and (min-width: $screen-md) {
            // width: 223px;
            width: 100%;
            height: 338px;
        }

        @media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
            width: 100%;
            height: 125px;
            margin: 30px 0 10px 0;
        }

        @media screen and (min-width: $screen-xs) and (max-width: $screen-sm) {
            margin: 30px 30px 10px 30px;

            .video {
                height: 290px;
            }
        }

        @media screen and (max-width: $screen-xs) {
            margin: 15px;

            .video {
                height: 290px;
            }
        }
    }



}

.banner-respostas {
    display: block;
    position: relative;
    border-radius: 5px;
    // cursor: pointer;
    width: 100%;
    $bannerHeight: 338px;
    $bannerBottomHeight: 40px;
   
    .img-banner {
        display: block;
        text-align: center;
    }

    .text-shadow {
        text-shadow: 0px 1px 1px #A42B5A
    }

    .text-bold {
        font-weight: bold;
    }
    
    .teste {
        display: block;
        height: 35px;
        padding-top: 5px;
        position: absolute;
        right: 0;
        bottom: 0;
        background-position: right;
        background-image: url('/assets/images/bottao_banner_1.png');
        background-size: 100%;
        background-repeat: no-repeat;
        vertical-align: middle;
    }

    &--link-top {
        color: #fff;
        display: table-cell;
        vertical-align: middle;
        position: relative;

        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            color: #fff;
        }
    }

    &--background {
        display: block;
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;

        &-image {
            background-image: url('/assets/images/banner--background-image.png');
            background-size: cover;
            background-position: center;
            background-color: #0E1333;
        }

        &-pink {
            background-color: #F84D71;
        }
    }

    &--logo {
        margin: 10px;

        &-small {
            width: 23%;
        }
    }

    &--text1 {
        text-transform: uppercase;
        font-size: 22px;
    }
    &--text2 {
        display: block;
        margin-left: 10px;
        color: #dfa821;
        // font-size: 22px;
        font-size: 130%;
        font-weight: bold;
        text-transform: uppercase;
    }
    &--text3 {
        display: block;
        margin-left: 10px;
        font-size: 115%;
    }

    &--banner2--link-bottom {
        color: white;
        font-size: 135%;
        font-weight: bold;
        padding-right: 25px;
        margin-left: 5px;

        &:hover,
        &:focus,
        &:active {
            color: #fff;
        }
    }

    &--link-bottom {
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 38px;

        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        //height: $bannerBottomHeight;
        background-color: #dfa821;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom: 2px solid #9c7513;

        &:hover,
        &:focus,
        &:active {
            color: #fff;
        }
    }

    // @media screen and (min-width: $screen-lg) {}

    @media screen and (min-width: $screen-md) {
        height: $bannerHeight;

        &--link-top,
        &--background-image {
            height: $bannerHeight - $bannerBottomHeight;
        }
    }

    @media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
        height: 255px;
        margin: 30px 0 10px 0;

        &--link-top,
        &--background-image {
            height: 255px - $bannerBottomHeight;
        }
    }

    @media screen and (max-width: $screen-sm) {
        margin: 30px 0 10px 0;
        padding-bottom: 40px;

        &--link-top,
        &--background-image {
            padding-bottom: 20px;
        }
    }

    // @media screen and (max-width: $screen-xs) {
    //     margin: 15px 0;
    // }
}

.section-gray {
  background-color: $gray;

  .contraste & {
    color: #fff;
    background-color: #000;
  }
}

.section-space-up {
    padding-top: 30px;
}

.video-wrapper {
  // margin-bottom: 30px;
}

.video-player {
  position: relative;
  border: 1px solid #333;
  width: 600px;
  margin: 0 auto;

  .video-background {
    text-align: center;
    cursor: pointer;
  }

  .video-thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-position: center;
    background-repeat: no-repeat;
    -moz-transition: opacity .5s cubic-bezier(0.0,0.0,0.2,1);
    -webkit-transition: opacity .5s cubic-bezier(0.0,0.0,0.2,1);
    transition: opacity .5s cubic-bezier(0.0,0.0,0.2,1);
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
  }

  .video-play-button {
    border: none;
    outline: 0;
    color: inherit;
    text-align: inherit;
    font-size: 100%;
    font-family: inherit;
    cursor: pointer;
    line-height: inherit;
    background: transparent;
    padding: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    width: 68px;
    height: 48px;
    margin-left: -34px;
    margin-top: -24px;
    z-index: 15;

    -moz-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    -webkit-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
  }

  .ytp-play-button-bg {
    -moz-transition: fill .1s cubic-bezier(0.4,0.0,1,1),opacity .1s cubic-bezier(0.4,0.0,1,1);
    -webkit-transition: fill .1s cubic-bezier(0.4,0.0,1,1),opacity .1s cubic-bezier(0.4,0.0,1,1);
    transition: fill .1s cubic-bezier(0.4,0.0,1,1),opacity .1s cubic-bezier(0.4,0.0,1,1);
    fill: #1f1f1f;
    opacity: .9;
  }

  &:hover {
    .ytp-play-button-bg {
      fill: #cc181e;
      opacity: 1;
    }
  }

  // @media screen and ( min-width: $screen-md ) {
  //   width: 480px;
  // }
  @media screen and (max-width: $screen-md) {
    width: 100%;
  }
}
