.page--inicio {
    margin-top: 20px;

    .section--articles {

      .header {
          position: relative;
          height: 40px;
          margin-bottom: 10px;

          button {
              position: absolute;
              right: 0;
              top: 2px;
          }
      }

      .form-inline {
          input,
          select {
              width: 100%;
          }
      }
    }
}

.section-gray {
  background-color: $gray;

  .contraste & {
    color: #fff;
    background-color: #000;
  }
}

.section-space-up {
    padding-top: 30px;
}

.video-wrapper {
  // margin-bottom: 30px;
}

.video-player {
  position: relative;
  border: 1px solid #333;

  .video-background {
    text-align: center;
    cursor: pointer;
  }

  .video-thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-position: center;
    background-repeat: no-repeat;
    -moz-transition: opacity .5s cubic-bezier(0.0,0.0,0.2,1);
    -webkit-transition: opacity .5s cubic-bezier(0.0,0.0,0.2,1);
    transition: opacity .5s cubic-bezier(0.0,0.0,0.2,1);
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
  }

  .video-play-button {
    border: none;
    outline: 0;
    color: inherit;
    text-align: inherit;
    font-size: 100%;
    font-family: inherit;
    cursor: pointer;
    line-height: inherit;
    background: transparent;
    padding: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    width: 68px;
    height: 48px;
    margin-left: -34px;
    margin-top: -24px;
    z-index: 15;

    -moz-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    -webkit-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
  }

  .ytp-play-button-bg {
    -moz-transition: fill .1s cubic-bezier(0.4,0.0,1,1),opacity .1s cubic-bezier(0.4,0.0,1,1);
    -webkit-transition: fill .1s cubic-bezier(0.4,0.0,1,1),opacity .1s cubic-bezier(0.4,0.0,1,1);
    transition: fill .1s cubic-bezier(0.4,0.0,1,1),opacity .1s cubic-bezier(0.4,0.0,1,1);
    fill: #1f1f1f;
    opacity: .9;
  }

  &:hover {
    .ytp-play-button-bg {
      fill: #cc181e;
      opacity: 1;
    }
  }

  @media screen and (min-width: 992px) {
    width: 80%;
    margin: 0 auto;
  }
}
