<div class="proposal-list">
	<div class="" ng-if="vm.proposals">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>
						Colocação
						<a tabindex="0" class="btn btn-link btn-question" role="button" data-toggle="popover" data-trigger="focus">?</a>
					</th>
					<th>
						<span>{{vm.proposals.length}} PROPOSTAS</span>
						<span class="pull-right">Posição atualizada a cada x minutos</span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="proposal in vm.proposals |  orderBy:['ranking_position','position']">
					<td class="color-theme-fg">
						<span ng-show="proposal.ranking_position" class="position">{{::proposal.ranking_position}}º</span>
						<span ng-show="proposal.position" class="position">{{::proposal.position}}º</span>

					</td>
					<td>
						<div class="row">
							<div class="col-xs-12">
								<div class="abstract" ng-bind-html="proposal.abstract"></div>
							</div>
						</div>
						<div class="row row-actions">
							<div class="col-sm-8">
								<div ng-if="proposal.parent.archived === false">
									<button
									type="button"
									class="btn btn-link btn-rate color-theme-common-fg"
									ng-click="vm.showContent(proposal)"
									>Participe</button>
								</div>
								<div ng-if="proposal.parent.archived === true">
									<button
									type="button"
									class="btn btn-link btn-rate color-theme-common-fg"
									ng-click="vm.showContent(proposal)"
									>Ir para o programa</button>
								</div>
							</div>
							<div class="col-sm-4">
								<proposal-stats class="text-right" views="{{::proposal.hits}}" up="{{::proposal.votes_for}}" down="{{::proposal.votes_against}}"></proposal-stats>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
