<div class="a11y-bar">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="skip-links list-inline list-unstyled">
          <li>
            <a accesskey="1" href="#content" id="skip-to-content" ng-click="skipToContent($event)">
              Ir para o conteúdo
              <span>1</span>
            </a>
          </li>
          <li>
            <a accesskey="2" href="#navigation" id="skip-to-navigation" ng-click="skipToNavigation($event)">
              Ir para o menu
              <span>2</span>
            </a>
          </li>
          <li>
            <a accesskey="3" href="#search" id="skip-to-search" ng-click="skipToSearch($event)">
              Ir para a busca
              <span>3</span>
            </a>
          </li>
          <li class="last-item">
            <a accesskey="4" href="#footer" id="skip-to-footer" ng-click="skipToFooter($event)">
              Ir para o rodapé
              <span>4</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-sm-6">
        <ul class="action-links list-inline list-unstyled pull-right">
          <li id="siteaction-accessibility">
            <a href="#" title="Acessibilidade" accesskey="5" ng-click="actionAccessibility()">Acessibilidade</a>
          </li>
          <li id="siteaction-contraste">
            <a href="#" title="Alto Contraste" accesskey="6" ng-click="actionContrast()">Alto Contraste</a>
          </li>
          <li id="siteaction-mapadosite" class="last-item">
            <a ui-sref="mapa-do-site" title="Mapa do Site" accesskey="7" ng-click="actionSitemap()">Mapa do Site</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
