.a11y-bar {
    font-size: 12px;
    padding: 5px 0;
    span {
        color: #fff;
        padding: 0 5px;
    }

    .action-links {
        text-transform: uppercase;
        border-bottom: 1px dotted #262626;
    }
}
