.a11y-bar {
    font-size: 12px;
    padding: 5px 0;

    @media (max-width: $screen-md) {
        font-size: 11px;
    }

    span {
        color: #fff;
        padding: 0 5px;
    }

    .action-links {
        text-transform: uppercase;
        border-bottom: 1px dotted #262626;
        float: right;

        @media screen and (max-width: $screen-sm) {
            float: left;
            // text-align: center;
        }

        @media screen and (max-width: $screen-xs) {
            float: none;
            text-align: center;
        }
    }
}
