<div id="lista-de-programas" class="row">
  <div class="col-sm-3">
    <div class="category-list">
      <nav class="navigation">
        <h3 class="category-list--title"><b>Programas</b> por Tema</h3>
        <div class="list-group category-list" ng-class="vm.categoryFilter.slug">
          <button type="button" class="list-group-item category-list--item"
            ng-repeat="category in vm.categories"
            ng-class="{active: vm.categoryFilter.slug === category.slug}"
            ng-click="vm.filterByCategory(category, $event)">

            <span class="category-list--icon-circle" ng-class="category.slug"></span>
            <span class="category-list--icon icon" ng-class="'icon-tema-' + category.slug"></span>
            <span class="category-list--label">{{::category.name}}</span>
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>

          </button>
        </div>
      </nav>
    </div>
  </div>

  <div class="col-sm-9">
    <article class="program-list">
      <header class="header">
        <h2>Programas</h2>
        <button type="button" class="btn btn-link" ng-click="vm.showAll($event)">
          <span class="glyphicon glyphicon-chevron-right"></span> Ver todos os programas
        </button>
      </header>
      <div>
        <div class="col-sm-12">
          <aside class="form-inline">
            <div class="form-group">
              <label for="programListFilter" class="control-label sr-only">Filtrar programas:</label>
              <input id="programListFilter" type="search" class="form-control" ng-model="vm.query" placeholder="Filtrar programas" aria-label="Filtrar programas" >

              <!-- <label for="selectCategoryFilter" class="control-label sr-only">Filtrar por tema:</label>
              <select id="selectCategoryFilter" name="selectCategoryFilter" class="form-control" ng-model="vm.categoryFilter" ng-options="category.name for category in vm.categories track by category.slug">
                <option value="">-- Filtrar por tema --</option>
              </select> -->

              <label for="selectOrderBy" class="control-label sr-only">Ordernar por:</label>
              <select id="selectOrderBy" name="selectOrderBy" class="form-control" ng-model="vm.orderCriteria" ng-options="orderCriteria.label for orderCriteria in vm.orderCriteries">
                <option value="">-- Ordernar por: --</option>
              </select>

              <!-- <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="vm.reverse">
                  Reverso
                </label>
              </div> -->

              <!-- <input id="programListLimit" type="number" class="form-control input-sm" size="4" step="2" ng-model="vm.limitTo" aria-label="Limitar" >
              <label for="programListLimit" class="control-label">Limite</label> -->

            </div>
          </aside>
        </div>

        <div ng-repeat="program in vm.filtredProgramList as results">
          <programa-box program="program" display="'box'" class="col-xs-12 col-sm-6"></programa-box>
          <div ng-if="$odd" class="clearfix"></div>
        </div>
        <div class="animate-repeat" ng-if="results.length == 0">
          Nenhum programa encontrado.
        </div>
      </div>
    </article>
  </div>
</div>
