.program-list {
    .header {
        position: relative;
        height: 40px;
        margin-bottom: 10px;

        button {
            position: absolute;
            right: 0;
            top: 2px;
        }
    }
}

.category-list {
    &--title {
        color: #ffffff;
        font-size: 16px;
        margin: 0;
        padding: 20px;
        background-color: #484848;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: hidden;
    }


    &--group {
    }

    &--item {
        position: relative;
        text-transform: uppercase;
        font-weight: bold;
        padding: 0;
        height: 68px;
        display: table-cell;
        vertical-align: middle;
    }

    &--label {
        margin-left: 70px;
        margin-right: 30px;
        display: inline-block;
    }

    &--icon-circle {
        width: 48px;
        height: 48px;
        position: absolute;
        top: 10px;
        left: 10px;
        border: 1px solid #fff;
        border-radius: 48px;

        @each $category, $color in $categories {
            &.#{$category} {
                background-color: $color;
            }
        }
    }

    .category-list--icon {
        position: absolute;
        top: -16px;
        left: -14px;
        transform: scale(0.35);
    }

    .category-list--icon--right {
        position: absolute;
        right: 9px;
        top: 50%;
        margin-top: -9px;
        transform: scale(1.4);
    }

    @each $category, $color in $categories {
        &.#{$category} {
            .list-group-item.active,
            .list-group-item.active:hover,
            .list-group-item.active:focus {
                background-color: $color;
            }
        }
    }
}
