.program-list {

  .header {
    position: relative;
    height: 40px;
    margin-bottom: 10px;

    button {
      position: absolute;
      right: 0;
      top: 2px;
    }
  }

}

.category-list {

    @each $category, $color in $categories {
        &.#{$category} {
            .list-group-item.active,
            .list-group-item.active:hover,
            .list-group-item.active:focus {
                background-color: $color;
            }
        }
    }
}
