<div class="auth-user">
  <div ng-if="vm.currentUser" class="pull-right">
    <span>{{::vm.currentUser.login}}</span>
    <span>|</span>
    <button type="button" class="btn btn-link" ng-click="vm.onClickLogout()">Sair</button>
  </div>

  <div ng-if="!vm.currentUser">
    <button type="button" class="btn btn-link pull-right" ui-sref="entrar">
      <!-- <span class="icon icon-user" aria-hidden="true"></span> -->
      <span class="glyphicon glyphicon-user"></span>
      Entrar
    </button>
  </div>
</div>
