<div class="container page--conheca-o-programa">
  <div ng-if="pageProgramaContent.program && pageProgramaContent.categories">
    <article-bar category="pageProgramaContent.program.categories[0]" categories="pageProgramaContent.categories"></article-bar>
  </div>

  <div ng-if="!pageProgramaContent.program.body">
    <div ng-if="!pageProgramaContent.error" class="alert alert-info" role="alert">Carregando detalhes sobre o progama...</div>
    <div ng-if="pageProgramaContent.error" class="alert alert-warning" role="alert">{{pageProgramaContent}}</div>
  </div>

  <div ng-if="pageProgramaContent.program.body">
    <article class="program-content">
      <div>
        <section ng-bind-html="pageProgramaContent.program.body"></section>
      </div>
    </article>
    <aside class="program--aside"ng-class="pageProgramaContent.program.categories[0].slug">
      <div class="col-sm-6" >
        <div class="button--themed">
          <button class="btn btn-block" ng-click="pageProgramaContent.goBack()">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            Participe
          </button>
        </div>
      </div>
      <div class="col-sm-6">
        <social-share></social-share>
      </div>
    </aside>
  </div>
</div>
