<div class="container">

  <div ng-if="pagePrograma.program && pagePrograma.categories">
    <article-bar category="pagePrograma.program.categories[0]" categories="pagePrograma.categories"></article-bar>
  </div>

  <div ng-if="!pagePrograma.program">
    <div class="alert alert-info" role="alert">Carregando informações sobre o progama</div>
  </div>

  <div ng-if="pagePrograma.program && pagePrograma.categories">
    <programa-box program="pagePrograma.program" display="'preview'"></programa-box>
  </div>
</div>

