.program--aside {
    margin-top: 20px;
    padding-top: 20px;

    .button--themed {
        padding-top: 0;
    }
}

.program-preview {

    .program-preview--box {
        position: relative;
        background-color: #f1f1f1;
    }

    .program-preview--banner {
        width: 100%;
        height: 400px;

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;



        @media screen and (max-width: $screen-xs) {
            // height: 15px;

            // .video {
            //     height: 290px;
            // }
        }
    }

    .program-preview--icon {
        $icon-size: 98px;
        $icon-scale: 0.7;
        position: absolute;
        top: (-1) * ($icon-size / 2);
        left: 40px;

        width: $icon-size * $icon-scale + 20px;
        height: $icon-size * $icon-scale + 20px;

        .icon {
            display: block;
            position: relative;
            top: -8px;
            left: -8px;
            // transform: scale($icon-scale);
        }

        .contraste & {
            border: 1px solid #fff;
        }
    }

    .program-preview--box--content-wrapper {
        padding: 40px;
        position: relative;
    }

    .program-preview--share-label,
    .program-preview--share-directive {
        display: inline-block;
        vertical-align: middle;
    }

    .program-preview--abstract h2 {
        font-size: 40px;
    }

    h2,
    h3{
        font-weight: bold;
    }

    h3 {
        margin-top: 0;
    }
}

.page--program {

    .btn-close {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 99;
    }

    .proposal-extended-section {
        background-color: #f1f1f1;
        margin: 20px 0;
        padding: 20px 0;
    }

    .proposal-extended-section-header {
        position: relative;
    }
}

