.pac-cidades-historicas {
    .grid {
        .box-content {
            padding: 20px;

            ul > li {
                padding-left: 10px;
            }
        }

        .col-sm-height {
            border: 10px solid #fff;
        }
    }
}
