.row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.col-height {
    display: table-cell;
    float: none;
    height: 100%;
}

.col-top {
    vertical-align: top;
}

.col-middle {
    vertical-align: middle;
}

.col-bottom {
    vertical-align: bottom;
}

// @media (min-width: 480px) {
.row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
}

.col-xs-top {
    vertical-align: top;
}

.col-xs-middle {
    vertical-align: middle;
}

.col-xs-bottom {
    vertical-align: bottom;
}

// }
@media (min-width: 768px) {
    .row-sm-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-sm-height {
        display: table-cell;
        // float: none;
        height: 100%;
    }
    .col-sm-top {
        vertical-align: top;
    }
    .col-sm-middle {
        vertical-align: middle;
    }
    .col-sm-bottom {
        vertical-align: bottom;
    }
}

@media (min-width: 992px) {
    .row-md-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-md-height {
        display: table-cell;
        // float: none;
        height: 100%;
    }
    .col-md-top {
        vertical-align: top;
    }
    .col-md-middle {
        vertical-align: middle;
    }
    .col-md-bottom {
        vertical-align: bottom;
    }
}

@media (min-width: 1200px) {
    .row-lg-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-lg-height {
        display: table-cell;
        // float: none;
        height: 100%;
    }
    .col-lg-top {
        vertical-align: top;
    }
    .col-lg-middle {
        vertical-align: middle;
    }
    .col-lg-bottom {
        vertical-align: bottom;
    }
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-right: -2px;
    margin-left: -2px;
}

.vertical-padding {
    padding-top: 15px;
    padding-bottom: 15px;
}

.no-space-left {
    margin-left: 0;
    padding-left: 0;
}

.no-space-right {
    margin-right: 0;
    padding-right: 0;
}

.text-center-sm {
    @media screen and (max-width: $screen-sm) {
        text-align: center;
    }
}

.btn-submit {
    background-color: $defaultblue;
    color: #fff;
    font-weight: bold;
    &:hover,
    &:focus {
        color: #fff;
    }
}

.has-error {
    border-color: #FF0000;
    border-width: 1px;
}

// Está com o nome do termos de uso. Deixas genérico ou apenas aqui? Ver como vão ficar esses modais
.modal-termos-uso {
    &-header {
        border-bottom: none;
        padding: 0px;
        min-height: 10px;
        border-bottom: none;
        padding: 0px;
        position: relative;
        top: -30px;
        right: 0px;
    }
    &-body {
        padding: 25px 35px;
        height: 500px;
        &-inner {
            background-color: lightgray;
            overflow-y: auto;
            padding: 15px;
            height: 440px;
        }
    }
}

.modal-fechar-pequeno {
    font-size: 15px;
}

.modal-fechar-grande {
    font-size: 24px;
}

.btn-question {
    color: #484848;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    width: 22px;
    height: 22px;
    margin-left: 10px;
    padding: 0;
    border-radius: 100%;
    &:hover,
    &:focus,
    &:active {
        color: #fff;
        border-color: #fff;
    }
}

.page--program {
    .program-content {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        ul.list-color li:before {
            @each $category,
            $color in $categories {
                .#{$category} & {
                    color: $color;
                }
            }
        }
        ul li:before {
            content: "\2022";
            font-weight: bold;
            font-size: 12px;
            position: relative;
            padding-right: 4px;
        }
        ul li {
            padding-left: 2em;
            padding-bottom: 15px;
            text-indent: -0.7em;
        }
        .col-middle {
            vertical-align: top;
        }
        @media screen and (min-width: $screen-lg) {
            //FIXME Leandro put this but we have to evaluate all impacts
            //      img {
            //        width: 100%;
            //      }
        }
    }
}

.destaque-bg-cinza {
    background-color: #F1F1F1;
    color: #484848;
}

.destaque-padding {
    padding: 20px;
}

.destaque-font {
    font-size: 130%!important;
    line-height: 28px!important;
}

.font {
    line-height: 28px!important;
    &-140 {
        @extend .font;
        font-size: 140%!important;
    }
    &-115 {
        @extend .font;
        font-size: 115%!important;
    }
    &-180 {
        @extend .font;
        font-size: 180%!important;
    }
}

.destaque-bg-lightgray {
    background-color: #F8F8F8;
}

.margin-15 {
    margin-left: 15px;
    margin-right: 15px;
}

.left-border-gray {
    border-left: 2px solid #d1d6d9;
    margin-bottom: 10px;
    ul.list-color li:last-child {
        padding-bottom: 0;
    }
    @media (max-width: 768px) {
        border: none;
    }
}

.bottom-border-gray {
    border-bottom: 1px lightgray;
    border-bottom-style: solid;
    margin: 0px!important;
    padding: 30px;
}

.padding-30 {
    padding: 30px;
}

a.link-black {
    color: black;
}

.inline-block {
    display: inline-block;
}

.close {
    color: white;
    opacity: 1;
    font-weight: normal;
}

blockquote {
    border-left: medium none;
    padding-left: 0;
    margin: 0px;
    border-left: none;
    .content-highlight-icon {
        // &:before {
        //   content: "";
        width: 110px;
        height: 112px;
        position: absolute;
        display: inline-block;
        opacity: .5;
        @each $category,
        $color in $categories {
            .#{$category} & {
                border-left: 34px solid $color;
                border-top: 33px solid $color;
            }
        }
    }
    p {
        margin-left: 60px;
        &:first-of-type {
            padding-top: 50px;
        }
    }
}

.page--program .program-content blockquote,
.page--program .program-content blockquote p {
    font-size: 24px;
    line-height: 28px;
}

.top-border-theme {
    @each $category,
    $color in $categories {
        .#{$category} & {
            border-color: $color;
        }
    }
    border-top: 20px solid;
}

.pad-right-0 {
    padding-right: 0px!important;
}

.pad-left-0 {
    padding-left: 0px!important;
}

.bloco-mais-especialidades {
    @media (max-width: 480px) {
        padding: 2% 0 0 5%;
    }
    @media (min-width: 768px) {
        padding: 2% 0 0 10%;
    }
    @media (min-width: 992px) {
        padding: 12% 0 0 10%;
    }
    @media (max-width: 1200px) {
        padding: 10% 0 0 10%;
    }
}

ul li:last-child {
    padding-bottom: 0px!important;
}

// .destaque-esporte ul li {
//   padding-bottom: 2px!important;
// }
.bloco1-preparacao-atletas {
    @media (max-width: 480px) {
        padding: 2% 0 0 5%;
    }
    @media (min-width: 768px) {
        padding: 2% 0 0 10%;
    }
    @media (min-width: 992px) {
        padding: 2% 10% 0 10%;
    }
    @media (min-width: 1200px) {
        padding: 17% 10% 0 10%;
    }
}

.bloco2-preparacao-atletas {
    @media (min-width: 1200px) {
        padding-top: 10%;
    }
}

.bloco1-futebol {
    @media (min-width: 992px) {
        padding: 14% 5% 0 5%;
    }
    @media (max-width: 1199px) {
        padding-top: 6%;
    }
    @media (max-width: 992px) {
        font-size: 77%;
        padding: 20px 10px 0px 10px;
    }
    @media (max-width: 767px) {
        font-size: 100%;
        padding: 20px 20px 10px 20px;
    }
}

.bloco1-esporte-toda-vida {
    @media (max-width: 992px) {
        padding-top: 10%;
    }
    @media (min-width: 992px) {
        padding-top: 10%;
    }
    @media (min-width: 1200px) {
        padding-top: 10%;
    }
}

.bloco2-esporte-toda-vida {
    @media (max-width: 992px) {
        padding-top: 10%;
        padding-left: 5%;
    }
    @media (min-width: 992px) {
        padding-top: 10%;
        padding-left: 5%;
    }
    @media (min-width: 1200px) {
        padding-top: 10%;
        padding-left: 5%;
    }
}

.bloco-mais-medicos {
    background-color: #3D4AB3;
    padding-top: 25px;
}

.img-full {
    @media (min-width: 1199px) {
        width: 100%;
        height: 100%;
    }
}

.middle-row {
    @media (min-width: 768px) {
        display: table;
        table-layout: fixed;
    }
}

.middle-col {
    @media (min-width: 768px) {
        display: table-cell;
        vertical-align: middle;
        float: none;
    }
}

// Links grandes quebram a linha em telas pequenas
a {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

// correção para problema na barra-brasil
div.brasil-flag > a {
    word-wrap: normal;
}
