.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.col-height {
  display: table-cell;
  float: none;
  height: 100%;
  background-color: #181e21;
}

.col-top {
  vertical-align: top;
}

.col-middle {
  vertical-align: middle;
}

.col-bottom {
  vertical-align: bottom;
}

// @media (min-width: 480px) {
.row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}
.col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
}
.col-xs-top {
    vertical-align: top;
}
.col-xs-middle {
    vertical-align: middle;
}
.col-xs-bottom {
    vertical-align: bottom;
}
// }

@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-sm-top {
    vertical-align: top;
  }
  .col-sm-middle {
    vertical-align: middle;
  }
  .col-sm-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-md-top {
    vertical-align: top;
  }
  .col-md-middle {
    vertical-align: middle;
  }
  .col-md-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 1200px) {
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-lg-top {
    vertical-align: top;
  }
  .col-lg-middle {
    vertical-align: middle;
  }
  .col-lg-bottom {
    vertical-align: bottom;
  }
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
  margin-right: -2px;
  margin-left: -2px;
}

.vertical-padding {
  padding-top: 15px;
  padding-bottom: 15px;
}

.no-space-left {
  margin-left: 0;
  padding-left: 0;
}

.no-space-right {
  margin-right: 0;
  padding-right: 0;
}

.text-center-sm {
  @media screen and (max-width: $screen-sm) {
    text-align: center;
  }
}

.btn-submit {
  background-color: $defaultblue;
  color: #fff;
  font-weight: bold;
  &:hover,
  &:focus {
    color: #fff;
  }
}

.has-error {
  border-color: #FF0000;
  border-width: 1px;
}

// Está com o nome do termos de uso. Deixas genérico ou apenas aqui? Ver como vão ficar esses modais
.modal-termos-uso {
  &-header {
    border-bottom: none;
    padding: 0px;
    min-height: 10px;
    border-bottom: none;
    padding: 0px;
    position: relative;
    top: -30px;
    right: 0px;
  }
  &-body {
    padding: 25px 35px;
    height: 500px;
    &-inner {
      background-color: lightgray;
      overflow-y: auto;
      padding: 15px;
      height: 440px;
    }
  }
}

.modal-fechar-pequeno {
  font-size: 15px;
}

.modal-fechar-grande {
  font-size: 24px;
}

.btn-question {
  color: #484848;
  background-color: #fff;
  display: inline-block;
  text-align: center;
  width: 22px;
  height: 22px;
  margin-left: 10px;
  padding: 0;
  border-radius: 100%;
}

ul.list-color {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.list-color li:before {
  @each $category,
  $color in $categories {
    .#{$category} & {
      color: $color;
    }
  }
}

ul.list-color li:before {
  content: "• ";
  font-weight: bold;
  font-size: 20px;
  position: relative;
  top: 2px;
  color: #2a9677;
}

.page--program {
    .program-content {
        ul li {
          padding-left: 2em;
          padding-bottom: 15px;
          text-indent: -0.7em;
        }

        .col-middle {
            vertical-align: top;
        }

        @media screen and (min-width: $screen-lg) {
            img {
                width: 100%;
            }
        }
    }
}

.destaque-bg-cinza {
  background-color: #F1F1F1;
}

.destaque-padding {
  padding: 20px;
}

.destaque-font {
  font-size: 130%;
}

.font-140 {
  font-size: 140%;
}

.font-115 {
  font-size: 115%;
}

.font-180 {
  font-size: 180%;
}

.destaque-bg-lightgray {
  background-color: #F8F8F8;
}

.margin-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.left-border-gray {
  border-left: 4px solid #d1d6d9;
  margin-bottom: 10px;
  ul.list-color li:last-child {
    padding-bottom: 0;
  }
  @media (max-width: 768px) {
    border: none;
  }
}

.bottom-border-gray {
  border-bottom: 1px lightgray;
  border-bottom-style: solid;
  margin: 0px!important;
  padding: 30px;
}

.padding-30 {
  padding: 30px;
}

a.link-black {
  color: black;
}

.inline-block {
  display: inline-block;
}

// Sobreescreve a classe do bootstrap
.close {
  color: white;
  opacity: 1;
  font-weight: normal;
}

blockquote {
  border-left: medium none;
  font-size: 140%;
  padding: 45px 0 0 45px;
  position: relative;
  margin: 0px;
  border-left: none;
  font-size: 24px;
  line-height: 28px;
  padding: 50px 0 0 50px;
  position: relative;

  @each $category, $color in $categories {
    .#{$category} & {
      color: $color;
    }
  }

  &:before {
    content: "⌜";
    font-size: 200px;
    line-height: 200px;
    position: absolute;
    top: -10px;
    left: -10px;
    font-weight: bolder;
    @each $category, $color in $categories {
      .#{$category} & {
        color: $color;
      }
    }
  }
}

blockquote p {
  font-size: 140%!important;
  line-height: normal!important;
}

// .cultura blockquote::before {
//   color: #cd999b;
// }
// Sobreescreve a classe do bootstrap
.close {
  color: white;
  opacity: 1;
  font-weight: normal;
}

.top-border-theme {
  @each $category,
  $color in $categories {
    .#{$category} & {
      border-color: $color;
    }
  }
  border-top: 20px solid;
}
