.row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;

    @media (max-width: $screen-sm) {
        display: block;
    }

    // @media (min-width: $screen-sm + 1) {
    //     height: $hLine * 2;
    // }

    // @media (min-width: $screen-md + 1) {
    //     height: $hLine * 2;
    // }
}

.col-height {
    display: table-cell;
    float: none;
    height: 100%;
    vertical-align: top;
}

.col-height--align-bottom {
    vertical-align: bottom;
}

.inside {
  margin-top: 20px;
  margin-bottom: 20px;
}

.inside-full-height {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;


    @media (max-width: $screen-sm) {
        border: 1px solid;
        border-radius: 3px;
        padding: 20px;
        margin: 10px 0;

        @each $category, $color in $categories {
            .#{$category} & {
                border-color: $color;
            }
        }
    }
}

.has-error {
    border-color: #FF0000;
    border-width: 1px;
}

.error-message {
    color: #ff4431
}