<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div ncy-breadcrumb></div>
		</div>
	</div>
</div>

<div class="page--ranking" role="main">

  <section class="section-info" ng-if="pageRanking.loading || pageRanking.error">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div ng-if="pageRanking.loading && !pageRanking.error">
            <div class="alert alert-info" role="alert">Carregando conteúdo...</div>
          </div>

          <div ng-if="pageRanking.error">
            <div class="alert alert-danger" role="alert">
              Erro ao carregar o conteúdo principal.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

	<section class="section--info" ng-if="pageRanking.filtredProposals || pageRanking.themes">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>Ranking</h1>
				</div>
			</div>
		</div>
	</section>

	<section class="section--articles section-gray section-space-up" ng-if="pageRanking.filtredProposals || pageRanking.themes">
		<div class="container">
			<div id="lista-de-propostas" class="row">
				<div class="col-sm-4 col-md-3">
				<!-- Banner lateral de temas -->
					<div ng-if="pageRanking.themes">
						<category-list categories="pageRanking.themes" selected-category="" disable-unselect="true"></category-list>
					</div>

					<div ng-if="pageRanking.filtredPrograms && pageRanking.selectedProgram" class="topics-select--wrapper">
						<topics-select topics="pageRanking.filtredPrograms" selected-topic="pageRanking.selectedProgram"></topics-select>
					</div>
					<div ng-if="!pageRanking.themes && pageRanking.loadingThemes">
						<div class="alert alert-info" role="alert">
							Carregando temas.
						</div>
					</div>
					<div ng-if="!pageRanking.themes && pageRanking.themesError">
						<div class="alert alert-danger" role="alert">
							Não foi possível carregar a lista de temas neste momento.
						</div>
					</div>
				</div>
				<div class="col-sm-8 col-md-9">
					<div class="row">
						<div class="col-sm-12">
							<header class="header">
								<h2 style="margin-top:0;">Total de Propostas: "<span>{{pageRanking.total_proposals}} propostas</span>"</h2>
							</header>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12" ng-if="pageRanking.filtredProposals && pageRanking.total_proposals">
							<proposal-list proposals="pageRanking.filtredProposals" per-page="pageRanking.per_page" total="pageRanking.total_proposals"></proposal-list>
							<app-paginator
								page="pageRanking.page"
								per-page="pageRanking.per_page"
								total="pageRanking.total_proposals"
								change-page="pageRanking.changePage(pageIndex)"
							></app-paginator>
						</div>
						<div class="col-sm-12" ng-if="pageRanking.loadingProposals">
							<div class="alert alert-info" role="alert">
								Carregando propostas.
							</div>
						</div>
						<div class="col-sm-12" ng-if="pageRanking.proposalsError">
							<div class="alert alert-danger" role="alert">
								Não foi possível carregar a lista de propostas neste momento.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
