<div id="message" class="envio-proposta">
	<div class="row linha-proposta">
		<div class="col-sm-8">
			<span class="titulo-envio-proposta">Faça sua proposta</span>
			<p>
				Aqui você cadastra sua proposta e ajuda a construir um Brasil melhor.
			</p>
		</div>
	</div>
	<div class="row linha-proposta">
		<div class="col-sm-8">
			<p>Você está fazendo uma proposta para o programa:</p>
			<div class="bloco-programa">
				<span class="texto-programa">{{::vm.program.title}}</span>
			</div>
		</div>
	</div>
	<form role="form" name="formPropostas" ng-submit="vm.sendProposal(proposta)" novalidate>
		<div class="form-group">
			<div class="row linha-proposta">
				<div class="col-sm-8">
					<label for="proposta-textarea">Descrição da proposta*</label>
					<a tabindex="0" class="btn btn-link btn-question" role="button" data-toggle="popover" data-trigger="focus">?</a>
					<textarea id="proposta-textarea" name="proposta" class="texto-proposta form-control"
					ng-class="{ 'has-error' : formPropostas.proposta.$invalid && formPropostas.proposta.$touched }"
					ng-model="proposta"
					required ng-maxlength="200" ></textarea>
					<validation-messages field="formPropostas.proposta" maxlength="'Ops, esse campo não pode ser maior que 200 caracteres.'"></validation-messages>
					<div class="row">
						<div class="col-xs-6">
							<span>*Dados obrigatórios</span>
						</div>
						<div class="col-xs-6 text-right">
							<span>Máx. 200 caracteres</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-4">
				<button class="btn btn-lg btn-block btn-submit" type="submit">Enviar Proposta</button>
			</div>
		</div>
	</form>
</div>
