<div id="message" class="envio-proposta">
  <div class="row linha-proposta">
    <div class="col-sm-8">
      <span class="titulo-envio-proposta">Faça sua proposta</span>
      <p>
        Aqui você cadastra sua proposta e ajuda a construir um Brasil melhor.
      </p>
    </div>
  </div>
  <div class="row linha-proposta">
    <div class="col-sm-8">
      <p>Você está fazendo uma proposta para o programa:</p>
      <div class="bloco-programa">
        <span class="texto-programa">Nome do progama</span>
      </div>
    </div>
  </div>
  <form role="form" name="testeForm" ng-submit="pageSignin.login(pageSignin.credentials)" novalidate>
    <div class="form-group">
      <div class="row linha-proposta">
        <div class="col-sm-8">
          <span>Descrição da proposta*</span>
              <a tabindex="0" class="btn btn-link link-popover" role="button" data-toggle="popover" data-trigger="focus">?</a>
          <textarea id="proposta" name="proposta" class="texto-proposta form-control"
           ng-class="{ 'has-error' : testeForm.proposta.$invalid && testeForm.proposta.$touched }"
           ng-model="proposta"
           required ng-maxlength="200" ></textarea>
           <form-messages field="testeForm.proposta" maxlength="'Ops, esse campo não pode ser maior que 200 caracteres.'"/>
          <span class="pull-left">*Dados obrigatórios</span>
          <span class="pull-right">Máx. 200 caracteres</span>
        </div>
      </div>
    </div>
    <div class="form-group">
       <div class="col-sm-4">
        <button class="btn btn-lg btn-block btn-submit" type="submit">Enviar Proposta</button>
      </div>
    </div>
  </form>
</div>
