.proposal-ranking {
    // both: carousel and list
}

.proposal-ranking--carousel {
    background-color: #eee;

    .proposal-ranking--carousel-top {
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        padding: 5px 10px;
    }
}
