<div class="proposal-ranking contraste-box">
  <div class="proposal-ranking--carousel" ng-if="vm.display==='carousel'">
    <div class="proposal-ranking--carousel-top color-theme-bg">
      <div class="proposal-ranking--carousel-position">
        <span>1º</span>
        <span>Lugar</span>
      </div>
      <div class="proposal-ranking--carousel-top-triggers">
        <ul class="list-inline">
          <li ng-class="{'active': vm.activeIndex === 1}" ng-click="vm.switchProposal(1)"></li>
          <li ng-class="{'active': vm.activeIndex === 2}" ng-click="vm.switchProposal(2)"></li>
          <li ng-class="{'active': vm.activeIndex === 3}" ng-click="vm.switchProposal(3)"></li>
        </ul>
      </div>
    </div>
    <div class="proposal-ranking--carousel-middle">
      <div class="content">
        <p>Lorem ipsum dolor sit amet, an qui alia constituam. Forensibus scripserit pri at, sit et dolorum ancillae. Ad sea quas utamur salutandi, illud veritus propriae mea ut. Ius no timeam intellegat liberavisse, eum suscipit pertinax ad. Illum graeci postulant et pro, at clita facete quo, cibo liber ad pri.</p>
      </div>
      <div class="proposal-ranking--carousel-middle-watermark"><span>1º</span></div>
    </div>
    <div class="proposal-ranking--carousel-bottom color-theme-common-bg" ng-click="vm.showProposals()">
      <div class="proposal-ranking--carousel-bottom-icon">
        <span>Veja as propostas mais vortadas</span>
        <span class="glyphicon glyphicon-chevron-down pull-right color-theme-common-fg"></span>
      </div>
    </div>
  </div>

  <div class="proposal-ranking--list" ng-if="vm.display==='list'">

    <div class="table-responsive" ng-if="vm.loading">
      <div class="table-responsive">Carregando...</div>
    </div>
    <div class="table-responsive" ng-if="!vm.loading && vm.proposals">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Colocação
              <button type="button" class="btn btn-link btn-question">?</button>
            </th>
            <th>123 PROPOSTAS</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="proposal in vm.proposals">

            <td class="color-theme-fg">
              <span class="position">{{::($index+1)}}º</span>
            </td>
            <td>
              <div class="row">
                <div class="col-xs-12">
                  <span class="abstract">{{proposal.abstract}}</span>
                </div>
              </div>
              <div class="row row-actions">
                <div class="col-md-9">
                  <button type="button" class="btn btn-link btn-rate color-theme-common-fg">
                    Avalie esta proposta
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  </button>
                </div>
                <div class="col-md-3">
                  <proposal-stats views="{{::proposal.hits}}" up="{{::proposal.votes_for}}" down="{{::proposal.votes_against}}"></proposal-stats>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
