<div class="proposal-ranking contraste-box">
  <div class="proposal-ranking--carousel" ng-if="vm.display === 'carousel'">
    <div ng-if="!vm.proposals">
      Carregando...
    </div>
    <div ng-if="vm.proposals">
      <div class="proposal-ranking--carousel-top color-theme-bg">
        <div class="proposal-ranking--carousel-position" ng-repeat="proposal in vm.proposals">
          <span ng-show="vm.activeIndex === $index">{{::($index+1)}}º</span>
          <span ng-show="vm.activeIndex === $index">Lugar</span>
        </div>
        <div class="proposal-ranking--carousel-top-triggers" ng-if="vm.proposals">
          <ul class="list-inline">
            <li class="item-dot" ng-repeat="proposal in vm.proposals">
              <button type="button" ng-class="{'active': vm.activeIndex === $index}" ng-click="vm.switchProposal($index)" title="Apersentar proposta na posição {{$index}}"></button>
            </li>
          </ul>
        </div>
      </div>
      <div class="proposal-ranking--carousel-middle" ng-swipe-left="vm.swipeLeft()" ng-swipe-right="vm.swipeRight()">
        <div ng-repeat="proposal in vm.proposals" class="animation-swipe">
          <div class="content">
            <div ng-show="vm.activeIndex === $index">{{::proposal.abstract}}</div>
          </div>
          <div class="proposal-ranking--carousel-middle-watermark" ng-show="vm.activeIndex === $index">
            <span>{{::($index+1)}}º</span>
          </div>
        </div>
      </div>
      <div class="proposal-ranking--carousel-bottom color-theme-common-bg" ng-click="vm.showProposals()">
        <div>Veja as propostas mais vortadas</div>
        <div class="proposal-ranking--carousel-bottom-icon">
          <span class="glyphicon glyphicon-chevron-down pull-right color-theme-common-fg"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="proposal-ranking--list" ng-if="vm.display==='list'">

    <div class="table-responsive" ng-if="vm.loading">
      <div class="table-responsive">Carregando...</div>
    </div>
    <div class="table-responsive" ng-if="!vm.loading && vm.proposals">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Colocação
              <button type="button" class="btn btn-link btn-question">?</button>
            </th>
            <th>123 PROPOSTAS</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="proposal in vm.proposals">

            <td class="color-theme-fg">
              <span class="position">{{::($index+1)}}º</span>
            </td>
            <td>
              <div class="row">
                <div class="col-xs-12">
                  <span class="abstract">{{proposal.abstract}}</span>
                </div>
              </div>
              <div class="row row-actions">
                <div class="col-md-9">
                  <button type="button" class="btn btn-link btn-rate color-theme-common-fg">
                    Avalie esta proposta
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  </button>
                </div>
                <div class="col-md-3">
                  <proposal-stats views="{{::proposal.hits}}" up="{{::proposal.votes_for}}" down="{{::proposal.votes_against}}"></proposal-stats>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
