<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div ncy-breadcrumb></div>
		</div>
	</div>
</div>

<div class="page--propostas">
	<section class="section--info">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>Ranking</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="section--articles section-gray section-space-up" ng-if="pagePropostas.proposals">
		<div class="container">
			<div id="lista-de-propostas" class="row">
				<div class="col-sm-4 col-md-3">
					<div class="row visible-xs">
						<div class="col-xs-12">
							<div class="input-group input-group-lg input-group-search">
								<label for="articleQueryFilter" class="control-label sr-only">Buscar propostas:</label>
								<input id="articleQueryFilter" type="search" class="form-control input-search" ng-model="pagePropostas.query" placeholder="Buscar propostas" aria-label="Buscar propostas" >
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="pagePropostas.search()">
										<span class="icon-circle icon-small color-theme-common-bg">
											<span class="glyphicon glyphicon-search"></span>
										</span>
										<span class="sr-only">Buscar</span>
									</button>
								</span>
							</div>
							<br/>
						</div>
					</div>
					<div ng-if="pagePropostas.themes">
						<category-list categories="pagePropostas.themes" selected-category="pagePropostas.selectedTheme" can-unselect="false"></category-list>
					</div>
					<div ng-if="pagePropostas.filtredPrograms" class="topics-select--wrapper">
						<topics-select topics="pagePropostas.filtredPrograms" selected-topic="pagePropostas.selectedProgram"></topics-select>
					</div>
					<div ng-if="!pagePropostas.themes && pagePropostas.loadingThemes">
						<div class="alert alert-info" role="alert">
							Carregando temas.
						</div>
					</div>
					<div ng-if="!pagePropostas.themes && pagePropostas.themesError">
						<div class="alert alert-danger" role="alert">
							Não foi possível carregar a lista de temas neste momento.
						</div>
					</div>
				</div>
				<div class="col-sm-8 col-md-9">
					<div class="row hidden-xs">
						<div class="col-xs-12">
							<div class="input-group input-group-lg input-group-search">
								<label for="articleQueryFilter" class="control-label sr-only">Buscar propostas:</label>
								<input id="articleQueryFilter" type="search" class="form-control input-search" ng-model="pagePropostas.query" placeholder="Buscar propostas" aria-label="Buscar propostas" >
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="pagePropostas.search()">
										<span class="icon-circle icon-small color-theme-common-bg">
											<span class="glyphicon glyphicon-search"></span>
										</span>
										<span class="sr-only">Buscar</span>
									</button>
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<header class="header">
								<h2>Total de Propostas: "<span>{{pagePropostas.filtredProposals.length}} propostas</span>"</h2>
							</header>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12" ng-if="pagePropostas.proposals">
							<proposal-list proposals="pagePropostas.filtredProposals" per-page="10"></proposal-list>
						</div>
						<div ng-if="!pagePropostas.proposals && pagePropostas.loadingProposals">
							<div class="alert alert-info" role="alert">
								Carregando propostas.
							</div>
						</div>
						<div ng-if="!pagePropostas.proposals && pagePropostas.proposalsError">
							<div class="alert alert-danger" role="alert">
								Não foi possível carregar a lista de propostas neste momento.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
