<div class="social-share">

  <p ng-if="vm.displayFull" class="social-share--description">
    <span>COMPARTILHE</span>
    <br>
    <span>ESTE PROGRAMA</span>
  </p>
  <ul>
    <li>
      <a ng-href="{{vm.social.facebook.href}}"
        data-caption="{{vm.social.facebook.caption}}"
        data-description="{{vm.social.facebook.description}}">
        <span class="icon icon-social-facebook"></span>
        <span class="sr-only">Compartilhar no Facebook</span>
      </a>
    </li>
    <li>
      <a ng-href="{{vm.social.twitter.href}}" target="_blank">
        <span class="icon icon-social-twitter"></span>
        <span class="sr-only">Compartilhar no Twitter</span>
      </a>
    </li>
    <li>
      <a ng-href="{{vm.social.googlePlus.href}}" target="_blank">
        <span class="icon icon-social-google-plus"></span>
        <span class="sr-only">Compartilhar no Google Plus</span>
      </a>
    </li>
    <li>
      <a ng-href="{{vm.social.whatsapp.href}}" target="_blank">
        <span class="icon icon-social-whatsapp"></span>
        <span class="sr-only">Compartilhar no WhatsApp</span>
      </a>
    </li>
  </ul>
</div>

<!-- <ul>
  <li><a href="http://dialoga.gov.br/#/programas/121492/sobre-o-programa" class="fb-share icon icon-facebook" data-caption="Brasil de Todas as Telas" data-description="Apoio ao audiovisual brasileiro: ampliação da produção, da difusão e do acesso"><span class="fa fa-facebook"></span><span class="sr-only">Compartilhar no Facebook</span></a></li>
  <li><a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fdialoga.gov.br%2F%23%2Fprogramas%2F121492%2Fsobre-o-programa&amp;text=Apoio ao audiovisual brasileiro: ampliação da produção, da difusão e do acesso" target="_blank" class="tw-share icon icon-twitter popup"><span class="fa fa-twitter"></span><span class="sr-only">Compartilhar no Twitter</span></a></li>
  <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fdialoga.gov.br%2F%23%2Fprogramas%2F121492%2Fsobre-o-programa" target="_blank" class="gp-share icon icon-gplus popup"><span class="fa fa-google-plus"></span><span class="sr-only">Compartilhar no Google Plus</span></a></li>
  <li><a href="whatsapp://send?text=Apoio ao audiovisual brasileiro: ampliação da produção, da difusão e do acesso http%3A%2F%2Fdialoga.gov.br%2F%23%2Fprogramas%2F121492%2Fsobre-o-programa" target="_blank" class="ws-share icon icon-whatsapp"><span class="fa fa-whatsapp"></span><span class="sr-only">Compartilhar no WhatsApp</span></a></li>
</ul> -->
