.proposal-box {
	background-color: #f1f1f1;
	border-radius: 5px;
	// overflow: hidden;
    margin-bottom: 20px;
    position: relative;

    .contraste & { background-color: #000 !important; outline: 1px solid #eee; }

	&.focus {
		border: 7px solid #000;
		border-radius: 12px;
		border-color: #5E769C;
	}

	&--top {
		color: #fff;
		font-weight: bold;

		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		overflow: hidden;
	}

	&--middle {
        padding: 30px;
        min-height: 180px;

        // position: relative;
        // .proposal-box--join {
        //     position: absolute;
        //     bottom: 10px;
        //     left: 30px;
        // }
    }

	&--bottom {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		// overflow: hidden;
        border-bottom: 5px solid #dadada;

        @each $category, $color in $categories {
            .#{$category} &.archived {
                border-bottom-color: map-get($categories-complementary-2, $category);
            }
        }
	}

	&--theme {
        padding: 10px 15px 5px 15px;
	}

	&--program {
        padding: 20px 15px;
	}

    &--content {
        padding-bottom: 20px;
    }

    &--share {
        padding: 15px 0;
        background-color: #e8e8e8;

        .contraste & { background-color: #000 !important; outline: 1px solid #eee; }
    }

    &--ranking,
    &--archived {
        font-weight: bold;
        padding: 10px 0;
        background-color: #dadada;

        .contraste & { background-color: #111 !important; outline: 1px solid #eee; }
    }

    &--archived {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 23px;
        
        a { color: #fff; }
    }

    .action-label {
        margin-top: 10px;
    }

    .proposal-box--join {
        .btn {
            font-weight: bold;
            padding: 6px 0;
        }
    }

    .proposal-message-panel {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: #f5f5f5;
        background-color: rgba(245, 245, 245, 0.9);
        border: 7px solid #5E769C;
        border-radius: 5px;

        .row { height: 100%; }
        .inside { position: relative; }

        .content {
            color: #262626;
            font-size: 24px;
            font-size: 2.4rem;
            font-weight: bold;
            line-height: 24px;
            padding: 10px 30px;

            form {
                font-size: 18px;
                font-size: 1.8rem;
            }
        }

        .message-icon {
            .glyphicon {
                top: 8px;
            }
        }
    }

    .feedback {
        padding: 20px;

        &--title {
            font-size: 22px;
            font-size: 2.2rem;
            font-weight: bold;
        }

        &--message {
            font-size: 14px;
            font-size: 1.4rem;
            font-weight: normal;
            line-height: 20px;
            margin-top: 48px;
        }

        .icon-circle {
            &.play {
                background-color: #5e769c;
            }

            .glyphicon {
                top: 12px;
                color: #fff;
            }
        }
    }


    .action {
        .glyphicon {
            color: #fff;
        }
    }

    .dropdown {
        display: inline-block;
    }

    .dropdown-menu {
        padding: 0;
        margin: 0;
    }

	.icon-circle {
		cursor: pointer;

		-webkit-box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,0.3);
		box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,0.3);

        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;

        &:hover {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }

        &:active,
        &:focus {
            -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.3);
            -moz-box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.3);
            box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.3);
        }
	}
}
