.article-grid {
    .header {
        position: relative;
        height: 40px;
        margin-bottom: 10px;

        button {
            position: absolute;
            right: 0;
            top: 2px;
        }
    }

    .form-inline {
        input,
        select {
            width: 100%;
        }
    }
}
