<div class="proposal-related" ng-class="{'focus':vm.isFocused}">
  <div class="proposal-related--top">
  	<div class="proposal-related--theme color-theme-bg-darker">{{::vm.category.name}}</div>
  	<div class="proposal-related--program color-theme-bg">{{::vm.topic.title}}</div>
  </div>
  <div class="proposal-related--middle">
    <div class="proposal-related--content">
  	 <div class="proposal-related--content-inner" ng-bind-html="vm.proposal.abstract"></div>
    </div>
  	<div class="proposal-related--actions text-center">
  		<div class="row">
  			<div class="col-xs-4">
  				<div class="action vote_for">
  					<div class="icon-circle">
  						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  					</div>
  					<div class="action-label">Apoio</div>
  				</div>
  			</div>
  			<div class="col-xs-4">
  				<div class="action next">
  					<div class="icon-circle">
  						<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
  					</div>
  					<div class="action-label">Pular</div>
  				</div>
  			</div>
  			<div class="col-xs-4">
  				<div class="action vote_against">
  					<div class="icon-circle">
  						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  					</div>
  					<div class="action-label">Não Apoio</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
  <div class="proposal-related--bottom text-center">
  	<div class="proposal-related--share">
      <span>COMPARTILHE ESSA <b>PROPOSTA</b></span>
      <div class="dropdown">
        <button id="dropdown-share-btn" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon icon-social-share-small" aria-hidden="true"></span></button>
        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-social" aria-labelledby="dropdown-share-btn">
          <li>
            <a social-facebook="" custom-url="http://dialoga.gov.br" title="Compartilhar no Facebook" class="ng-isolate-scope" rel="nofollow" href="https://facebook.com/sharer.php?u=http%3A%2F%2Fdialoga.gov.br">
              <span class="icon-circle icon-small icon-circle-social-facebook"><span class="icon icon-social-facebook"></span></span>
              <span class="sr-only">Compartilhar no Facebook</span>
            </a>
          </li>
          <li>
            <a social-twitter="" custom-url="http://dialoga.gov.br" status="This status is #" title="Compartilhar no Twitter" class="ng-isolate-scope" rel="nofollow" href="https://twitter.com/intent/tweet?text=This%20status%20is%20%23">
              <span class="icon-circle icon-small icon-circle-social-twitter"><span class="icon icon-social-twitter"></span></span>
              <span class="sr-only">Compartilhar no Twitter</span>
            </a>
          </li>
          <li>
            <a social-gplus="" custom-url="http://dialoga.gov.br" title="Compartilhar no Google Plus" class="ng-isolate-scope" rel="nofollow" href="https://plus.google.com/share?url=http%3A%2F%2Fdialoga.gov.br">
              <span class="icon-circle icon-small icon-circle-social-googleplus"><span class="icon icon-social-googleplus"></span></span>
              <span class="sr-only">Compartilhar no Google Plus</span>
            </a>
          </li>
          <li>
            <a href="mailto:contato@dialoga.gov.br?subject=Conheça o Dialoga Brasil" title="Enviar por email">
              <span class="icon-circle icon-small icon-circle-social-whatsapp"><span class="icon icon-social-whatsapp"></span></span>
              <span class="sr-only">Enviar por email</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  	<div class="proposal-related--ranking">
     <div class="proposal-related--ranking-inner">
       <span class="icon icon-small icon-ranking" aria-hidden="true"></span>
       <span>Colocação nos resultados:</span>
       <span>{{::vm.proposal.ranking_position}}º</span>
     </div>
    </div>
  </div>
</div>
